<meta charset="UTF-8">
		<div class="table-responsive"  >
	
		<input class="form-control" type="text" placeholder="Pesquisar..." ng-model="buscar" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>														
					</tr>
				</thead>
				<tbody
					ng-repeat=" diaria in diariaCtrl.diarias | filter : buscar | orderBy : 'id'">
					<tr>
					<td>
						<span>{{diaria.mes}}</span>
					</td>
					<td>
						<span>{{diaria.observacao}}</span>
					</td>
					<td> 
						<span>{{diaria.dataAbertura | date : 'yyyy'}}</span>
					</td>
					<td> 
						<span>{{diaria.valorUfesp | currency}}</span>
					</td>
					<td title="Cadastrar Diarias"><a ui-sref="funcionarioDiaria.verificar({idDiaria : diaria.id})"><i class="glyphicon glyphicon-copy"></i></a> 					
					<td title="Cadastrar Diarias"><a ui-sref="item.cadastrar({idDiaria : diaria.id})"><i class="glyphicon glyphicon-copy"></i></a> 		
					<td ng-if="diaria.status == 'ABERTO'"  title="Encerrar diária"><a ng-click="diariaCtrl.encerrar(diaria)" ><i class="glyphicon glyphicon-trash"></i></a> 		
					<td title="Relatório da Unidade"><a ui-sref="funcionarioDiaria.unidade({idDiaria : diaria.id})"><i class="glyphicon glyphicon-list-alt"></i></a> 		
					<td title="Relatório da Coordenadoria"><a ui-sref="funcionarioDiaria.coordenadoria({idDiaria : diaria.id})"><i class="glyphicon glyphicon-list-alt"></i></a> 		
					<td title="Relatório da Secretaria"><a ui-sref="funcionarioDiaria.secretaria({idDiaria : diaria.id})"><i class="glyphicon glyphicon-list-alt"></i></a> 		
					
				
					<td title="Editar Diária"> <a ui-sref="diaria.editar({idDiaria : diaria.id})"><i class="glyphicon glyphicon-edit"></i></a> 
														
					</tr>							
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</div>
		
