<meta charset="UTF-8">
<div permission="['DIARIA_FINANCAS']">

	<div ng-if="ctrl.diaria == ''" class="row col-sm-12" align="center">
		<div class="jumbotron">
			<div class="container" align="center">
				<h1>Não há nenhuma Diaria aberta!</h1>
				<p>
					<a class="btn btn-primary btn-lg" href=""
						ui-sref="diaria.cadastrar" role="button">Nova Diária</a>
				</p>
			</div>
		</div>
	</div>

	<div ng-if="ctrl.diaria != ''" class="row col-sm-12" align="center">
		<div class="jumbotron">
			<div class="container" align="center">
				<h1>{{ctrl.diaria.mes}}</h1>
				<h3>Valor UFESP : {{ctrl.diaria.valorUfesp | currency}}</h3>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="data != null">
	<div class="col-md-4">
		<div align="center">
			<label>Valores do mês de {{ctrl.dash[0].mes}}</label>
		</div>
		<hr>
		<div>
			<div>
				<label>Total Administrativo</label>
			</div>
			<div align="right" >
				<h3>{{ctrl.dash[0].valores[0] | currency}}</h3>
			</div>
			
		</div>
		<hr>
		<div >
			<div>
			<div>
				<label>Total Segurança</label>
			</div>
			<div align="right" >
				<h3>{{ctrl.dash[0].valores[1] | currency}}</h3>
			</div>
			
		</div>
		</div>
		<hr>
	</div>
<div class="col-md-8" align="center">
	<canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels" chart-series="series">
</canvas>
</div>
</div>