<meta charset="UTF-8">
     <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>01</h3>
              <p>Diária</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="diaria.listar" class="small-box-footer">
              avançar<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
       <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>02</h3>
              <p>Conta Funcionários</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="funcionarioContaDiaria.listar" class="small-box-footer">
              avançar<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>