<meta charset="UTF-8">

        <div class="col-lg-3 col-xs-6" permission="['FUNCIONARIO_UNIDADE', 'ADMIN']">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>01</h3>
              <p>Funcionario</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="funcionario.listar" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
        <div class="col-lg-3 col-xs-6" permission="[ 'CARGO', 'ADMIN']">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>02</h3>
              <p>Cargo</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="cargo.listar" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6" permission="['SETOR', 'ADMIN']">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>03</h3>
              <p>Setor</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="setor.listar" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6" permission="['FUNCAO' , 'ADMIN']">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>04</h3>
              <p>Função</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="funcao.listar" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
       