 <meta charset="UTF-8">
		<div class="panel-body table-responsive">
		<input class="form-control" type="text" ng-model="buscar" placeholder="Pesquisar...">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>nome</th>
						<th>quantidade</th>
						<th>editar</th>
					</tr>
				</thead>
				<tbody ng-repeat=" switch in switchCtrl.switchs | filter : buscar "> 
					<tr>
						<td><a ui-sref="switch.show({idSwitch : switch.id})">{{ switch.nome }}</a></td>
						<td>{{ switch.qtdPortas }}</td>		
						<td><a ui-sref="switch.editar({idSwitch : switch.id})"><i class="glyphicon glyphicon-edit"></i></a> 					
					</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	