<meta charset="UTF-8">
<br>
<br>
<div 	ng-controller="diariaController as diariaCtrl">

	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Alterar Diaria</span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" name="formDiaria"
					ng-submit="diariaCtrl.altera()">			
						
					
					
						<br>
					<div class="row">	
							<div class="col-sm-6" ng-controller="funcionarioController as funcionarioCtrl" ng-init="funcionarioCtrl.listaPorUnidade()">
								<select class="form-control select2"  ng-model="diariaCtrl.diaria.funcionario" ng-options="funcionario.pessoa.nomeCompleto  for funcionario in funcionarioCtrl.listaFuncionarios" >
									<option value="">--Favorecido--</option>
								</select>
							</div>
							<div class="col-sm-6">
							<input class="form-control" placeholder="Destino" ng-model="diariaCtrl.diaria.destino" id="destino" type="text"  required >
						</div>
										
						
					</div>
					
					<br>
					
					<div class="row">
						<div class="col-sm-2">
							<input class="form-control" placeholder="Data diaria" ng-model="diariaCtrl.diaria.dataDiaria" id="dataDiaria" type="date"  required >
						</div>
							
						<div class="col-sm-2">
							<input class="form-control" placeholder="Valor Diaria" ng-model="diariaCtrl.diaria.valorDiaria" id="valorDiaria" type="text" ui-money-mask required >
						</div>
						<div class="col-sm-2">
							<input class="form-control" placeholder="Valor Passagem" ng-model="diariaCtrl.diaria.valorPassagem" id="valorPassagem" type="text" ui-money-mask required >
						</div>						
					</div>
					<br>
					<div class="row">
						<div class="col-sm-12">
						<textarea class="textarea form-control" placeholder="Texto" ng-model="diariaCtrl.diaria.motivo" id="motivo" placeholder="Motivo"
									style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
						</div>			
									
					</div>
				

					<hr>					
					
					<br>
					<div class="row ">
							<input type="submit" id="submit" value="Salvar"	class="btn btn-lg btn-primary btn-block btn-signin">
					</div>

				</form>
			</div>
		</div>

	</div>
	<div class="tablecontainer"></div>
</div>
</div>
