<meta charset="UTF-8">
<div 	ng-controller="diariaController as diariaCtrl">

		<section layout="row" layout-align="right center">
		  <md-button href="#/" class="groupX left">Menu</md-button>
		  <md-button href="#/diaria/em-aberto" class="groupX middle">Em aberto</md-button>
		  <md-button href="#/diaria/relatorio" class="groupX middle">Relátorios</md-button>		  
		</section>
	<div class="box box-primary">
		<div class="box-header">
			<span class="lead">Editar Diaria </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" name="formDiaria"  ng-submit="diariaCtrl.altera()">				
										
					<div class="row">
					<div class="col-sm-3">
					Mês referente as Diárias
					<div class="row">
							<div class="col-sm-1">
								<h3><span class="label label-success">{{diariaCtrl.diaria.mes}}</span></h3>
							</div>							
						</div>								
					</div>	
					</div>	
					<div class="row">
						<div class="col-sm-4">
						Menssagem para as Unidades
						<textarea class="textarea text-uppercase form-control"  placeholder="Ex: Preencher até 5° dia util"  ng-model="diariaCtrl.diaria.observacao" id="motivo" placeholder="Motivo"
									style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
						</div>	
					</div>					
						
					<br>
					<div class="row ">
					<div class="col-sm-4"></div>
						<div class="col-sm-4">		
							<input type="submit" id="submit" value="Alterar"	class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
					</div>

				</form>
			</div>
		</div>

	</div>
	<div class="tablecontainer"></div>
</div>

