<meta charset="UTF-8">
<div 	ng-controller="diariaController as diariaCtrl" >

		
		<section layout="row" layout-align="right center">
		  <md-button href="#/" class="groupX left">Menu</md-button>
		  <md-button href="#/diaria/cadastrar" class="groupX middle">Cadastrar novo Mês</md-button>
		  <md-button href="#/diaria/relatorio" class="groupX middle">Relátorios</md-button>		  
		</section>
		
	<div class="box box-primary" ng-init="diariaCtrl.diariasEmAberto()">
		<div class="box-header">
			<span class="lead">Lista de Diarias Abertas</span>
		</div>
		<div class="panel-body table-responsive"  >
			
    <hr>    
		<input class="form-control" type="text" placeholder="Buscar" ng-model="busca" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>														
					</tr>
				</thead>
				<tbody
					ng-repeat=" diaria in diariaCtrl.listaDiaria | filter : busca ">
					<tr>
					<td>{{diaria.mes}}</td>
					<td>{{ diaria.dataAbertura}}</td>
					<td><div ng-controller="itemDiariaController as itemDiariaCtrl">					
						<a type="button" href="#/diaria/item/cadastrar/{{diaria.id}}"  class="btn btn-success">lançar diarias</a>
						<input ng-if="diaria.status == 'ABERTO'" type="button" ng-click="diariaCtrl.encerrar(diaria)" value="Encerrar" class="btn btn-warning">
						<a type="button" href="#/diaria/item/lista/unidade/{{diaria.id}}"  class="btn btn-info">lista Unidade</a>
						<a type="button" href="#/diaria/item/lista/coordenadoria/{{diaria.id}}"  class="btn btn-info">lista Coordenadoria</a>
						<a type="button" href="#/diaria/item/lista/geral/{{diaria.id}}"  class="btn btn-info">lista SAP</a>
					</div>
					</td>										
					</tr>							
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</div>
		
	</div>

</div>
