<meta charset="UTF-8">
<div ng-controller="unidadeController">
    <br>		
	    <section layout="row" layout-align="right center">
	    <a href="javascript:window.history.go(-1)"">Voltar</a>
		  <md-button href="#/" class="groupX left">Menu</md-button>		  
		</section>
   	<div class="box box-primary" ng-controller="coordenadoriaController as coordenadoriaCtrl" ng-init="coordenadoriaCtrl.lista()">
		<div class="box-header">
			<span class="lead">Coordenadorias</span>
			<br>
			<br>
					<div class="col-sm-12">
						<input  class="form-control" placeholder="Busca..." ng-model="busca"> 
					</div>
					<br>
					<div ng-repeat="coordenadoria in coordenadoriaCtrl.listaCoordenadoria | filter : busca ">
							    	         						
						    <div class="col-sm-3">
						      <md-card>
						        <md-card-title>
						          <md-card-title-text>
						          <md-button href="#/publico/unidade/{{coordenadoria.id}}">{{coordenadoria.mnemonico}}</md-button>
						          </md-card-title-text>
						        </md-card-title>						        
						      </md-card>
						      </div>
												     	  
					</div>	
				</div>	 
		</div>
		</div>
	</div>
</div>