<meta charset="UTF-8">

    <br>
	    <section layout="row" layout-align="right center">
	     <a href="javascript:window.history.go(-1)"">Voltar</a>
		  <md-button href="#/" class="groupX left">Menu</md-button>
		  <md-button href="#/publico/coordenadoria" class="groupX middle">Coordenadoria</md-button>
		</section>
   	<div class="box box-primary" ng-controller="ramalController as ramalCtrl" >
		<div class="box-header">
			<span class="lead">Setores</span>
			<br>
			<br>
					<div class="col-sm-12">
						<input  class="form-control" placeholder="Busca..." ng-model="busca"> 
					</div>
					<br>
					<div ng-repeat="ramal in ramalCtrl.listaRamalPorUnidade | filter : busca ">
							    	         						
						    <div class="col-sm-3">
						      <md-card>
						        <md-card-title>
						          <md-card-title-text>
						          <center><label><h4>{{ramal.setor.nome}}</h4></label></center>
						          </md-card-title-text>
						        </md-card-title>	
						        <center><label><h4>{{ramal.numero}}</h4></label></center>					        
						      </md-card>
						      </div>
												     	  
					</div>	
				</div>	 
		</div>
	