<meta charset="UTF-8">
<div	ng-controller="telefoneController as telefoneCtr">

<br>
	    <section layout="row" layout-align="right center">
	     <a href="javascript:window.history.go(-1)"">Voltar</a>
		  <md-button href="#/" class="groupX left">Menu</md-button>		  
		  <md-button href="#/publico/coordenadoria" class="groupX middle">Coordenadoria</md-button>
		</section>
	<div class="box box-primary">
		<div class="box-header">
			<span class="lead">Telefones</span>
			<br>
			<br>
					<div class="col-sm-12">
						<input  class="form-control" placeholder="Busca..." ng-model="busca"> 
					</div>
					<br>
					<div ng-repeat="telefone in telefoneCtr.listaTelefonePorUnidade | filter : busca ">
							    	         						
						    <div class="col-sm-3">
						      <md-card>
						        <md-card-title>
						          <md-card-title-text>
						          <center><h4>{{telefone.descricao}}</h4></center>
						          <center><h4>{{telefone.setor.nome}}</h4></center>
						          </md-card-title-text>						         
						        </md-card-title>		
						         <center><h3>{{telefone.telefone}}</h3></center>				        
						      </md-card>
						      </div>
												     	  
					</div>	
				</div>	 
		</div>
	</div>
