<meta charset="UTF-8">

	<div class="row">
		<div class="col-sm-3">
			<input class="form-control" placeholder="Pesquisar..." type="text" ng-model="buscar">
		</div>
	</div>

<br>
		<div class="table-responsive">
		 <table class="table table-hover table-bordered">
				<thead>			
					<tr>
					<th class="btn btn-primary btn-flat col-sm-3"><md-button  ><h5>Titulo</h5></md-button> </th>
				<th class="btn btn-primary btn-flat col-sm-3"><md-button  ><h5>Solicitante</h5></md-button> </th>
				<th class="btn btn-primary btn-flat col-sm-2"><md-button  ><h5>Setor</h5></md-button> </th>
				<th class="btn btn-primary btn-flat col-sm-1"><md-button  ><h5>Status</h5></md-button> </th>
				<th class="btn btn-primary btn-flat col-sm-1"><md-button  ><h5>abertura</h5></md-button> </th>
				<th class="btn btn-primary btn-flat col-sm-1"><md-button  ><h5>Horário</h5></md-button> </th>
				<th class="btn btn-primary btn-flat col-sm-1"><md-button  ><h5>Opções</h5></md-button> </th>
						
					</tr>
				</thead>	
				<tbody	ng-repeat=" chamado in chamadoCtrl.chamados | filter : buscar | orderBy : 'status'  ">
					<tr>
						<td>{{ chamado.titulo.descricao }}</td>
						<td>{{ chamado.usuarioSolicitante.funcionario.pessoa.nomeCompleto | limitTo:20}}</td>
						<td>{{ chamado.setor.nome }}</td>	
						<td>{{ chamado.status }}</td>							
						<td>{{ chamado.dataAbertura | date : 'dd/MM/yyyy'}}</td>
						<td>{{ chamado.dataAbertura | date : 'HH:mm:ss' }}</td>	
						<td><a ui-sref="chamadoManutencao.atendimento({idChamadoManutencao : chamado.id})"><i class="glyphicon glyphicon-search"></i></a> 
						
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	

