<div ng-controller="permissao as per" ng-init="per.role()"></div>
<meta charset="UTF-8">
<br>
<br>
<div ng-controller="ramalController as ramalCtr" >

	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Editar Ramal </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" ng-submit="ramalCtr.altera()" >
					<div class="row">
						<div class="col-sm-6">
							<input class="form-control" ng-model="ramalCtr.listaRamal.descricao" placeholder="Descrição" id="descricao" type="text" required>
						</div>
						<div class="col-sm-6">
							<input class="form-control" ng-model="ramalCtr.listaRamal.numero" placeholder="Numero" id="numero" type="text" required>
						</div>
					</div>
					<br>
					<div class="row">	
					<div ng-controller="setorController as setorCtrl">			
						<div class="col-sm-6"   ng-init="setorCtrl.lista()" >
							<select class="form-control select2" ng-model="ramalCtr.listaRamal.setor" 
							ng-options="setor.nome for setor in setorCtrl.listaSetor" 
							  style=" width: 100%;" required >
								<option value="">---Selecione Setor---</option>
							</select>
						</div>				
					</div>	
					
					</div>	
					<br>
							
					<div class="row ">
					
							<input type="submit" id="submit" value="Salvar" 
								class="btn btn-lg btn-primary btn-block btn-signin">
						
					</div>
				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
