<meta charset="UTF-8">
<br>
<br>
<div	ng-controller="ramalController as ramalCtr">

	<div class="box box-primary" ng-init="ramalCtr.lista()">
	
		<div class="box-header">
			<span class="lead">Lista de Ramal</span>
		</div>
		<div class="panel-body table-responsive">
		<input class="form-control" type="text" ng-model="buscaRamal" placeholder="Buscar">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Setor</th>
						<th>Ramal</th>
						<th>Unidade</th>
						<th ng-if="role_cadastrar_ramal">Opções</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" ramal in ramalCtr.listaRamal | filter : buscaRamal ">
					<tr>
						<td>{{ ramal.setor.nome }}</td>
						<td>{{ ramal.numero }}</td>
						<td>{{ ramal.unidade.dadosUnidade.mnemonico}}</td>
						<td ng-if="role_cadastrar_ramal"><a href="#/recursosHumanos/setor/editar/{{setor.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
</div>

