<meta charset="UTF-8">    
         <div permission="['CHAMADO_USUARIO', 'CHAMADO_MANUTENCAO_TECNICO' , 'ADMIN']" class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>Chamado</h3>
              <p>Manutenção</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="chamadoManutencao.listar" class="small-box-footer">
              avançar<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
         <div permission="['CADASTRO_VEICULOS' , 'ADMIN']" class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>Veiculos</h3>
              <p>Cadastros</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="veiculo.menu" class="small-box-footer">
              avançar<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>