<meta charset="UTF-8">
      
      <!-- =========================================================== -->

       
    	 <!-- <div class="col-lg-3 col-xs-6" permission="[ 'CARGO', 'ADMIN']"> -->
    	 <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>01</h3>
              <p>Auditorio</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="auditorio.listar" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>	
        
         <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>02</h3>
              <p>Reserva</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="reserva.listar" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>	
        
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>03</h3>
              <p>Emprestimo</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="emprestimo.listar" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>	