<meta charset="UTF-8">

			<div class="col-sm-12 ">
				<form role="form-vertical" ng-submit="ctrl.submit()" >
					
									
					<div class="col-sm-6">
						Selecione o Equipamento:
						<select class="form-control " ng-model="ctrl.emprestimo.equipamento" 
							ng-options="equipamento.descricao for equipamento in ctrl.equipamentos track by equipamento.id" >
							
							</select>
						</div>		
					
					
						<!--  <div class="col-sm-4">
								Equipamento: <input class="form-control"
					
					ng-model="ctrl.emprestimo.equipamento"
					id="equipamento" type="text" required>
						</div>	-->
											
					</div>
					<br>
					<br>
					<div class="row">
						<div class="col-sm-7">
							Funcionario Solicitante: <input class="form-control" placeholder="Funcionario"
					ng-model="ctrl.emprestimo.funcionario"
					id="funcionario" name="nome" type="text" required>
				</div>
				</div>			
					<br>
					
					<div class="row">
						 <div class="col-sm-4">
						 					 
								Data do Emprestimo: <input class="form-control" 
					ng-model="ctrl.reserva.dataEmprestimo"
					id="dataEmprestimo" type="date" required>
				</div>								
					</div>
					<br>
			<div class="row">
						 <div class="col-sm-4">
						 					 
								Data Devolução: <input class="form-control" 
					ng-model="ctrl.emprestimo.dataDevolucao"
					id="dataDevolucao" type="date" required>
				</div>								
					</div>
					
					<br>	
					<div class="row">
					<div class="col-sm-6">
					
							Unidade:
							<select class="form-control select2" ng-model="ctrl.emprestimo.unidadeCadastro" 
								ng-options="unidade.dadosUnidade.nome for unidade in ctrl.unidades track by unidade.dadosUnidade.id"  >
						
						</select>
						</div>
					</div> 
																							
					<br>
					<div class="row">					
						<div class="col-sm-6">
						Evento/Atividade:
							<input class="form-control" ng-model="ctrl.emprestimo.evento" placeholder="Evento" id="evento" type="text" required>
							
						</div>						
					</div>	
					
					
					
				<div class="col-sm-4">
					Status do Emprestimo: 
					<select class="form-control "
					ng-model="ctrl.emprestimo.status" id="status"
					ng-options="status for status in ctrl.statusEmprestimo">
					<option value="">Status</option>
					</select>
				</div>
					
					
										
					
				<!-- 	<div class="col-sm-3">
					Status <input class="form-control"
					ng-model="emprestimoCtrl.emprestimo.status" type="text" disabled
					required>
					</div>
					</div> -->
					
					<br>						
					<br>
											
					<div class="row ">
						<div class="col-sm-4"></div>
						<div class="col-sm-4">
							<input type="submit" id="submit" value="Salvar" ng-disabled="!ctrl.emprestimo.equipamento || !ctrl.emprestimo.funcionario || !ctrl.emprestimo.evento"
								class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
					</div>
				
				</form>
			</div>