<meta charset="UTF-8">
<div class="table-response">

<br>
<br>
		<input class="form-control" type="text" ng-model="buscaReserva" placeholder="Buscar">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
					<th class="btn btn-primary btn-flat col-sm-2"><md-button  ><h5>Equipamento</h5></md-button> </th>
					<th class="btn btn-primary btn-flat col-sm-2"><md-button  ><h5>DataEmprestimo</h5></md-button> </th>
					<th class="btn btn-primary btn-flat col-sm-2"><md-button  ><h5>DataDevolucao</h5></md-button> </th>
					<th class="btn btn-primary btn-flat col-sm-3"><md-button  ><h5>Funcionario Solicitante</h5></md-button> </th>
					<th class="btn btn-primary btn-flat col-sm-4"><md-button  ><h5>UnidadeSolicitante</h5></md-button> </th>
					<th class="btn btn-primary btn-flat col-sm-4"><md-button  ><h5>Evento/Atividade</h5></md-button> </th>
					<th class="btn btn-primary btn-flat col-sm-4"><md-button  ><h5>Status</h5></md-button> </th>
					<th class="btn btn-primary btn-flat col-sm-2"><md-button  ><h5>Opção</h5></md-button> </th>
				
					</tr>
				</thead>
				
				<tbody	ng-repeat=" reserva in ctrl.reservas | filter : buscar ">
			
					<tr>										
						<td><center>{{ emprestimo.equipamento}}</center></td>	
						<td><center>{{ emprestimo.dataEmprestimo | date : 'dd/MM/yyyy'}}</center></td>
						<td><center>{{ emprestimo.dataEmprestimo | date : 'dd/MM/yyyy'}}</center></td>	
						<td><center>{{ emprestimo.funcionario}}</center></td>	
						<td><center>{{ emprestimo.unidadeCadastro.dadosUnidade.nome}}</center></td>	
						<td><center>{{ emprestimo.evento}}</center></td>												
						<td><a ui-sref="emprestimo.editar({idEmprestimo : emprestimo.id})"><i class="glyphicon glyphicon-edit col-sm-4"></i></a>														
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div> 