<meta charset="UTF-8">

<div class="row">
<div class="col-sm-3">
	<h2>
		Transparencia
	</h2>
</div>
</div>
<br>
<div class="row">
	<div class="col-sm-3">
		<input class="form-control" placeholder="Pesquisar..." type="text" ng-model="buscar">
	</div>
	<div class="col-sm-8"></div>
	<div class="col-sm-1">
		<button ng-json-export-excel  data="listaDiariaExcel"
		report-fields="{nome: 'Favorecido', cargo:'Cargo',  dataSaida: 
		'Data  Saida', localDeslocamento: 'Destino', motivo: 'Motivo', valorDiaria: 'Valor Diária', valorPassagem: 'Valor Passagem' }"
		filename="'lista diaria Unidade'" class="btn-sm btn-primary">Exportar
		Excel</button>
	</div>
	
</div>

<br>

	


	<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th class="btn btn-success btn-flat col-sm-2"><md-button  ><h5>Favorecido</h5></md-button> </th>
				<th class="btn btn-success btn-flat col-sm-2"><md-button  ><h5>Cargo</h5></md-button> </th>
				<!-- <th class="btn btn-success btn-flat col-sm-2"><md-button  ><h5>Unidade</h5></md-button> </th> -->
				<th class="btn btn-success btn-flat col-sm-1"><md-button  ><h5>Data</h5></md-button> </th>
				<!-- <th class="btn btn-success btn-flat col-sm-1"><md-button  ><h5>Retorno</h5></md-button> </th> -->
				<th class="btn btn-success btn-flat col-sm-1"><md-button  ><h5>Localidade</h5></md-button> </th>
				<th class="btn btn-success btn-flat col-sm-2"><md-button  ><h5>Motivo</h5></md-button> </th>
				<th class="btn btn-success btn-flat col-sm-1"><md-button  ><h5>Diaria</h5></md-button> </th>
				<th class="btn btn-success btn-flat col-sm-1"><md-button  ><h5>Passagem</h5></md-button> </th>

			</tr>
		</thead>
		<tbody
			ng-repeat=" diaria in ctrl.itens | filter : busca |  orderBy : 'funcionarioDiaria.contaFuncionario.funcionario.pessoa.nomeCompleto'">
			<tr>
				<td class="text-center">{{diaria.funcionarioDiaria.contaFuncionario.funcionario.pessoa.nomeCompleto}}</td>
				<td class="text-center">{{diaria.funcionarioDiaria.cargo.descricao}}</td>
				<!-- <td>{{diaria.funcionarioDiaria.unidade.dadosUnidade.mnemonico}}</td> -->
				<td class="text-center">{{ diaria.dataSaida | date : 'dd/MM/yyyy'}}</td>
				<!-- <td>{{ diaria.dataChegada | date : 'dd/MM/yyyy'}}</td> -->
				<td class="text-center">
					<div ng-repeat="cidade in diaria.localDeslocamentos" >							
							{{ cidade.nome }}&nbsp;<a ng-if="diaria.localDeslocamentos.length > 0">/</a>&nbsp;
					</div>
				</td>
				<td class="text-center" ng-if="diaria.dataSaida == diaria.dataChegada">{{ diaria.motivo }}</td>
				<td class="text-center" ng-if="diaria.dataSaida != diaria.dataChegada">{{ diaria.motivo }} - retorno no dia {{diaria.dataChegada | date : 'dd/MM/yyyy'}}</td>
				<td class="text-center" >{{ diaria.valorDiaria | currency}}</td>
				<td class="text-center">{{ diaria.valorPassagem | currency}}</td>
			</tr>

		</tbody>
		<tfoot>
			<tr>


			</tr>
		</tfoot>
	</table>
</div>

