<meta charset="UTF-8">
<h3>Dados Da Diária:</h3>
<div class="row">	
		<div class="btn btn-default btn-flat col-sm-3 ">
			<label>Mês:</label> {{funcionario.diaria.mes}}
		</div>	
		<div class="btn btn-default btn-flat col-sm-3 ">
			<label>Valor Ufesp:</label> {{funcionario.diaria.valorUfesp | currency}} <br>
		</div>
		<div class="btn btn-default btn-flat col-sm-3 ">
			<label>Data Abertura:</label> {{funcionario.diaria.dataAbertura | date : 'dd/MM/yyyy'}}
		</div>
		<div class="btn btn-default btn-flat col-sm-3 ">
			<label>Status:</label>  {{funcionario.diaria.status}} 
		</div>	
	</div>
<h3>Dados Do Funcionário:</h3>
	<div class="row">
		<div class="btn btn-default btn-flat col-sm-3 ">
			<label>Nome:</label> 	 {{funcionario.contaFuncionario.funcionario.pessoa.nomeCompleto}} 
		</div>	
		<div class="btn btn-default btn-flat col-sm-3 ">
			<label>Cargo:</label> 	 {{funcionario.cargo.descricao}} 
		</div>
		<div class="btn btn-default btn-flat col-sm-3 ">
			<label>Setor:</label>	 {{funcionario.setor.nome}} 
		</div>
		<div class="btn btn-default btn-flat col-sm-3 ">
			<label>Unidade:</label> {{funcionario.unidade.dadosUnidade.mnemonico}}
		</div>	
	</div>
<h3>Informações para Depósito em Conta:</h3>
	<div class="row">
	<div class="btn btn-default btn-flat col-sm-2 ">
			<label>CPF: </label>	 {{funcionario.contaFuncionario.funcionario.pessoa.cpf}} 
		</div>
		<div class="btn btn-default btn-flat col-sm-2 ">
			<label>Indice UFESP:</label> {{funcionario.contaFuncionario.indiceUfesp}}
		</div>	
		<div class="btn btn-default btn-flat col-sm-2 ">
			<label>Banco:</label> 	 {{funcionario.contaFuncionario.banco}} 
		</div>
		<div class="btn btn-default btn-flat col-sm-2 ">
			<label>Agencia:</label>	 {{funcionario.contaFuncionario.agencia}} 
		</div>
		<div class="btn btn-default btn-flat col-sm-2 ">
			<label>Conta:</label> {{funcionario.contaFuncionario.conta}}
		</div>	
		<div class="btn btn-default btn-flat col-sm-2 ">
				<label>Salário:</label>{{funcionario.contaFuncionario.salarioAtual | currency}}
				</div>
	</div>
				
	
	<div class="row ">									
			<div class="btn btn-default btn-flat col-sm-2 ">
				<label>Limite:</label>{{funcionario.contaFuncionario.limiteCemPorCento * funcionario.contaFuncionario.salarioAtual / 100 | currency}}</div>			
			<div class="btn btn-info btn-flat col-sm-2 ">
				<label ng-if="funcionario.diaria.status == 'ABERTO'">Total a Receber:</label>
				<label ng-if="funcionario.diaria.status == 'FECHADO'">Total Recebido:</label>{{funcionario.totalValorDiaria | currency}}</div>
				
				<div ng-show="funcionario.glosada" class="btn btn-danger btn-flat col-sm-2">
				<label>Glosada:</label>{{funcionario.glosada | currency}}</div>			
	</div>
			
		
	<div class="row">
	<h3><span class=" col-sm-12 form-control label label-primary">Dados Diaria</span></h3>
	</div>	
	<div class="row">
	<div class="col-sm-1"><label>Selecione Tipo:</label></div>		
		<div class="col-sm-2">		
			<select class="form-control" ng-model="ctrl.tipo" ng-change="ctrl.itensPorFuncionarioDiariaETipo(funcionario.id, ctrl.tipo)" ng-options="tipo for tipo in ctrl.tipos">
			</select>
		</div>		
	</div>	
	<div class="row">
<div class="table-responsive">	
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<td>Localidade</td>
				<td>Codigo Desl.</td>
				<td>Transp. saida</td>
				<td>Transp. retorno</td>
				<td>Data Saida</td>
				<td>Data Chegada</td>
				<td>Hora Saída</td>
				<td>Hora Chegada</td>
				<td>Valor</td>				
				
				<!-- <td>Usuario cadastro</td> -->

			</tr>
		</thead>
		<tbody ng-repeat=" item in itens   |  orderBy : '-id'">
			<tr>
				<td>
					<div ng-repeat="cidade in item.localDeslocamentos" >							
						{{ cidade.nome }}&nbsp;<a ng-if="item.localDeslocamentos.length > 0">/</a>&nbsp;
					</div>
				</td>	
				<td >{{ item.codigoLocalDeslocamento.codigo }}</td>	
				<td >{{ item.meioTransporteSaida }}</td>
				<td >{{ item.meioTransporteRetorno}}</td>								
				<td >{{ item.dataSaida | date : 'dd/MM/yyyy'}}</td>				
				<td >{{ item.dataChegada | date : 'dd/MM/yyyy'}}</td>				
				<td >{{ item.horaSaida | date : 'HH:mm'}}</td>				
				<td >{{ item.horaChegada | date : 'HH:mm'}}</td>				
				<td >{{ item.valorDiaria | currency }}</td>				
				<!-- <td >{{ item.usuarioCadastro.funcionario.pessoa.nomeCompleto | limitTo:10 }}</td> -->	
				<td permission="['DIARIA_FINANCAS_UNIDADE' , 'ADMIN']" ng-if="!item.analizado"><button ng-click="ctrl.analizado(item.id)" class="btn btn-primary">Analisar</button></td>			
				<td ng-if="item.analizado"><button disabled class="btn btn-success">Analisado</button></td>

			</tr>			
		</tbody>
		<tfoot>
			<tr>
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>Total</td>
			<td class="btn btn-info btn-flat col-sm-2 ">{{valorTotal | currency}}</td>
			</tr>
		</tfoot>		
	</table>
</div>
</div>
