<meta charset="UTF-8">
	<br> <br>
	

	<center> {{funcionario.contaFuncionario.funcionario.pessoa.nomeCompleto}} <br>
	 {{funcionario.contaFuncionario.funcionario.setorAtual.nome}} <br>
	 {{funcionario.contaFuncionario.funcionario.unidadeAtual.dadosUnidade.nome}} <br>
	 <hr>
		 {{funcionario.diaria.mes}} <br>
	 	 {{funcionario.diaria.valorUfesp | currency}} <br>
	  	 {{funcionario.diaria.dataAbertura | date : 'dd/MM/yyyy'}} <br>
	  	 {{funcionario.diaria.status}} <br>
	</center>
	<div class="row">
	<h3><span class=" col-sm-12 form-control label label-success">Dados Diaria</span></h3>
	</div>
	<div class="row">
	<h3><span class=" col-sm-12 form-control label label-success">{{funcionarioDiaria}}</span></h3>
	</div>
	<div class="row">
<div class="table-responsive">	
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<td>Localidade</td>
				<td>Data Saida</td>
				<td>Data Chegada</td>
				<td>Hora Saída</td>
				<td>Hora Chegada</td>
				<td>Valor</td>
				<td>Transp. saida</td>
				<td>Transp. retorno</td>
				<td>Codigo Desl.</td>
				<td>Usuario cadastro</td>

			</tr>
		</thead>
		<tbody ng-repeat=" item in itens |  orderBy : '-id'">
			<tr>
				<td >{{ item.localDeslocamento.nome }}</td>					
				<td >{{ item.dataSaida | date : 'dd/MM/yyyy'}}</td>				
				<td >{{ item.dataChegada | date : 'dd/MM/yyyy'}}</td>				
				<td >{{ item.horaSaida | date : 'HH:mm'}}</td>				
				<td >{{ item.horaChegada | date : 'HH:mm'}}</td>				
				<td >{{ item.valorDiaria | currency }}</td>
				<td >{{ item.meioTransporteSaida }}</td>
				<td >{{ item.meioTransporteRetorno}}</td>				
				<td >{{ item.codigoLocalDeslocamento.codigo }}</td>	
				<td >{{ item.usuarioCadastro.funcionario.pessoa.nomeCompleto | limitTo:10 }}</td>				

			</tr>

		</tbody>
	</table>
</div>
</div>
