<meta charset="UTF-8">
<div class="table-responsive">

	<button ng-json-export-excel data="listaDiariaExcel"
		report-fields="{nome: 'Favorecido', cargo:'Cargo', unidadeLotado: 'Unidade Lotado', dataSaida: 
		'Data  Saida', dataChegada: 'Data  Retorno' , localDeslocamento: 'Destino', motivo: 'Motivo', valorDiaria: 'Valor Diária', valorPassagem: 'Valor Passagem' }"
		filename="'lista diaria Unidade'" class="btn-sm btn-primary">Exportar
		Excel</button>


	<hr>
	<input class="form-control" type="text" placeholder="Pesquisar..."
		ng-model="buscar">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>Favorecido</th>
				<th>Cargo</th>
				<th>Unidade Lotado</th>
				<th>Data Saida</th>
				<th>Data Retorno</th>
				<th>Destino</th>
				<th>Motivo</th>
				<th>Valor da Diária</th>
				<th>Valor da Passagem</th>
				<th ng-if="diaria.diaria.status == 'ABERTO'">Editar</th>

			</tr>
		</thead>
		<tbody
			ng-repeat=" diaria in ctrl.itens | filter : busca |  orderBy : '-id'">
			<tr>
				<td>{{
					diaria.funcionarioDiaria.contaFuncionario.funcionario.pessoa.nomeCompleto
					}}</td>
				<td>{{
					diaria.funcionarioDiaria.contaFuncionario.funcionario.cargoAtual.descricao
					}}</td>
				<td>{{
					diaria.funcionarioDiaria.unidade.dadosUnidade.mnemonico}}</td>
				<td>{{ diaria.dataSaida | date : 'dd/MM/yyyy'}}</td>
				<td>{{ diaria.dataChegada | date : 'dd/MM/yyyy'}}</td>
				<td>{{ diaria.localDeslocamento }}</td>
				<td>{{ diaria.motivo }}</td>
				<td>{{ diaria.valorDiaria | currency}}</td>
				<td>{{ diaria.valorPassagem | currency}}</td>
				<td ng-if="diaria.diaria.status == 'ABERTO'"><a title="teste"
					ui-sref="item.editar({idItem : diaria.id})"><i
						class="glyphicon glyphicon-edit"></i></a></td>
				<td ng-if="diaria.diaria.status == 'ABERTO'"><a href=""
					ng-click="itemCtrl.excluir(diaria)"><i
						class="glyphicon glyphicon-remove"></i></a></td>

			</tr>

		</tbody>
		<tfoot>
			<tr>


			</tr>
		</tfoot>
	</table>
</div>

