<meta charset="UTF-8">

		<div class="row">
		<div class="col-sm-1"></div>
			<div class="col-sm-7">
				<label>Tipo de relatório:</label><br>
				<label class="radio-inline">
					<input  type="radio" name="relatorio" ng-model="tipo" ng-click="limparPesquisa()"	value="QUANTITATIVO">Quantitativo
				</label> 
				<label class="radio-inline">
					<input  type="radio" name="relatorio" ng-model="tipo" ng-click="limparPesquisa()"	value="LISTAGEM">Listagem
				</label>
				<label class="radio-inline">
					<input  type="radio" name="relatorio" ng-model="tipo" ng-click="limparPesquisa()"	value="NOMINAL">Nominal
				</label>
			</div>
		</div>
		<br>	
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-4">
			 		<label>Selecione a Diaria:</label>
				    <select class="form-control"
						ng-model="ctrl.diaria" 	ng-options="diaria.mes for diaria in ctrl.diarias" required>
					</select>
			</div>			
				
		</div>
		<br>
		<div class="row">
			<div class="col-sm-1"></div>			
			<div class="col-sm-4" ng-show="tipo == 'NOMINAL'">
			 		<label>Pesquisar por Funcionario:</label>
				   <input type="text" ng-model="conta" placeholder="Pesquisar por nome ou CPF"  
				    uib-typeahead="conta as conta.funcionario.pessoa.nomeCompleto for conta in ctrl.buscarPorTexto($viewValue) | limitTo:8" 
				    typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true"  
				    typeahead-loading="loading" typeahead-no-results="SemResultado" typeahead-min-length="3">
				    <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
				    <div ng-show="SemResultado">
				      <i class="glyphicon glyphicon-remove"></i> Nenhum resultado encontrado
				    </div>
			</div>			
		<script type="text/ng-template" id="customTemplate.html">
  			<a>
      			<span ng-bind-html="match.model.funcionario.pessoa.nomeCompleto | uibTypeaheadHighlight:query"></span><br/>
	 			<span>CPF: {{match.model.funcionario.pessoa.cpf}}</span><br/>	
				<span>Setor: </span><br/>
				<span ui-sref="funcionarioContaDiaria.cadastrar({idFuncionario : match.model.id})">{{match.model.setorAtual.nome}}</span><br/>
  			</a>
		</script>		
			<div class="col-sm-2">
				<label>Data inicial: </label>
				<input class="form-control" ng-model="dataInicial"	id="dataInicial" type="date" date-input	title="Data pesquisa inicial" required>
			</div>
			<div class="col-sm-2">
				<label>Data final:</label> 
				<input class="form-control" ng-model="dataFinal" id="dataFinal" type="date" date-input title="Data pesquisa final">
			</div>

		</div><br>
		
		<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-2">
		<label>Opção de visualização:</label><br>
				<label class="radio-inline">
					<input  type="radio" name="radioImprimir" ng-model="imprimir" value="PAGINA">Página
				</label> 
				<label class="radio-inline">
					<input  type="radio" name="radioImprimir" ng-model="imprimir" 	value="PDF">PDF
				</label>
				</div>
			<div class="col-sm-2">
				<br> <input type="button" id="buscar" value="Pesquisar" ng-disabled="!imprimir"
					ng-click="ctrl.paginaCorrente = 0; ctrl.pesquisar(imprimir,ctrl.diaria.id, dataInicial , dataFinal)"
					class="btn btn-lg btn-primary btn-block btn-signin">
			</div>
		</div>
	