<meta charset="UTF-8">
		<div class="table-responsive"  >

		<input class="form-control" type="text" placeholder="Pesquisar..." ng-model="buscar" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>		
					<th>Ano Referencia</th>
					<th>Mês Referencia</th>	
					<th>Status</th>										
					</tr>
				</thead>
				<tbody
					ng-repeat=" diaria in diariaCtrl.listaDiarias | filter : buscar | orderBy : '-id' ">
					<tr>
					<td>{{ diaria.dataAbertura | date : 'yyyy'}}</td>
					<td>{{diaria.mes}}</td>
					<td>{{diaria.status}}</td>					
					<td title="Relatório da Unidade"><a ui-sref="item.unidade({idDiariaUnidade : diaria.id})"><i class="fa fa-bar-chart"></i></a> 		
					<td title="Relatório da Coordenadoria"><a ui-sref="item.coordenadoria({idDiariaCoordenadoria : diaria.id})"><i class="fa fa-bar-chart"></i></a> 		
					<td title="Relatório da Secretaria"><a ui-sref="item.secretaria({idDiariaSecretaria : diaria.id})"><i class="fa fa-bar-chart"></i></a> 		
														
					</tr>							
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
			</div>
			<div class="row">
				<div class="col-sm-5"></div>				
				<div class="2">				
					<nav>
						<ul class="pagination">
						
							<li class="{{0==diariaCtrl.getPage ?'disabled':''}}"><a
								ng-if="0!=diariaCtrl.getPage" ng-click="diariaCtrl.lista(diariaCtrl.getPage -1, maxResults)"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a> <a ng-if="0==diariaCtrl.getPage" aria-label="Previous"> <span
									aria-hidden="true">&laquo;</span></a></li>
							<li ng-repeat="page in diariaCtrl.totalPages"
								class="{{page==diariaCtrl.getPage ?'active':''}}"><a
								ng-click="diariaCtrl.lista(page , maxResults)">{{page + 1}}</a></li>
							<li class="{{diariaCtrl.getPage+1 == totalPages ?'disabled':''}}"><a
								ng-if="diariaCtrl.getPage+1 != totalPages"
								ng-click="diariaCtrl.lista(diariaCtrl.getPage+1, maxResults)" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a> <a ng-if="diariaCtrl.getPage+1==totalPages" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a></li>
							
						</ul>
					</nav>
				</div>
			</div>
		
	