<meta charset="UTF-8">
<div class="row">
<div class="col-sm-3">
	<h2>
		Relatório
	</h2>
</div>
</div>
<br>
<div class="col-sm-4">
<input class="form-control" type="text" placeholder="Pesquisar..."
	ng-model="buscar">
</div>

<br>
<br>
<br>
<div class="row">
<div  ng-repeat=" diaria in diariaCtrl.listaDiarias | filter : buscar | orderBy : 'id'">
<div class="col-sm-6"  flex-sm="45" flex-gt-sm="35" flex-gt-md="50" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" > 
	
<div  md-whiteframe="{{height}}" 
	layout="column" layout-align="center center"
	ng-init="height = 1" ng-mouseenter="height = 24"
	ng-mouseleave="height = 5">
	
	<div class="row">		
		<span data-toggle="modal" title="Informações sobre esta diária." data-target="#informacaoModal"
		ng-model="diaria"  ng-click="diariaCtrl.informacaoModal(diaria)"  class="btn btn-success btn-flat"><h3>{{diaria.mes}}</h3></span>
	</div>
	
	<div class="row">		
		<h3>{{diaria.status}}</h3>
	</div>
	
	
	<div class="row">
			<a permission="['DIARIA' , 'ADMIN']"
			class="btn btn-info btn-flat"  title="Total de Diária do referente mês " 
			ui-sref="item.usuario({idDiaria : diaria.id})"><i
			class="glyphicon glyphicon-user"></i></a>
		   <a permission="['DIARIA_UNIDADE' , 'ADMIN']"
			class="btn btn-info btn-flat"  title="Relatório diaria para unidades por item" 
			ui-sref="item.unidade({idDiaria : diaria.id})"><i
			class="glyphicon glyphicon-list-alt"></i></a> 
			<a permission="['DIARIA_COORDENADORIA' , 'ADMIN']"
			class="btn btn-info btn-flat" title="Relatório diaria para coordenadorias por item" 
			ui-sref="item.coordenadoria({idDiaria : diaria.id})"><i
			class="glyphicon glyphicon-list-alt"></i></a> 
			<a permission="['DIARIA_SECRETARIA' , 'ADMIN']"
			class="btn btn-info btn-flat" title="Relatório diaria para secretarias por item"
			ui-sref="item.secretaria({idDiaria : diaria.id})"><i
			class="glyphicon glyphicon-list-alt"></i></a>
				
			<a permission="['DIARIA_UNIDADE' , 'ADMIN']"
			class="btn btn-info btn-flat"  title="Relatório diaria para unidades por funcionário"
			ui-sref="funcionarioDiaria.unidade({idDiaria : diaria.id})"><i
			class="glyphicon glyphicon-list-alt"></i></a> <a permission="['DIARIA_COORDENADORIA' , 'ADMIN']"
			class="btn btn-info btn-flat" title="Relatório diaria para coordenadorias por funcionário"
			ui-sref="funcionarioDiaria.coordenadoria({idDiaria : diaria.id})"><i
			class="glyphicon glyphicon-list-alt"></i></a> <a permission="['DIARIA_SECRETARIA' , 'ADMIN']"
			class="btn btn-info btn-flat" title="Relatório diaria para secretarias por funcionário"
			ui-sref="funcionarioDiaria.secretaria({idDiaria : diaria.id})"><i
			class="glyphicon glyphicon-list-alt"></i></a>		
	</div>
	</div>
</div>	
</div>
</div>	
	<div class="row">
				<div class="col-sm-5"></div>				
				<div class="2">				
					<nav>
						<ul class="pagination">						
							<li class="{{0==diariaCtrl.getPage ?'disabled':''}}"><a
								ng-if="0!=diariaCtrl.getPage" ng-click="diariaCtrl.lista(diariaCtrl.getPage -1, maxResults)"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a> <a ng-if="0==diariaCtrl.getPage" aria-label="Previous"> <span
									aria-hidden="true">&laquo;</span></a></li>
							<li ng-repeat="page in diariaCtrl.totalPages"
								class="{{page==diariaCtrl.getPage ?'active':''}}"><a
								ng-click="diariaCtrl.lista(page , maxResults)">{{page + 1}}</a></li>
							<li class="{{diariaCtrl.getPage+1 == totalPages ?'disabled':''}}"><a
								ng-if="diariaCtrl.getPage+1 != totalPages"
								ng-click="diariaCtrl.lista(diariaCtrl.getPage+1, maxResults)" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a> <a ng-if="diariaCtrl.getPage+1==totalPages" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a></li>							
						</ul>
					</nav>
				</div>
			</div>
			
	
	<!-- INICIO  modal do informaçoes da diaria -->
<div class="modal fade bs-example-modal-lg modal-primary"
	id="informacaoModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">Diária
					{{info.mes}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<br>
					<div class="col-sm-12">
						<h3>Observação:</h3>
						<br>
						<h4>{{info.observacao}}</h4>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-6">
						<h3>Data Abertura:</h3>
						<br>
						<h4>{{info.dataAbertura | date :
							'dd/MM/yyyy'}}</h4>
					</div>
					<div class="col-sm-6">
						<h3>Valor UFESP:</h3>
						<br>
						<h4>{{info.valorUfesp | currency}}</h4>
					</div>
				</div>
				<br>
				<hr>
				<br>
			</div>
			<div class="modal-footer ">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>
<!-- FIM  modal do informaçoes da diaria -->


		
			
		
	