<meta charset="UTF-8">
			<div class="container col-sm-12 ">	
			
						
				<form role="form-vertical" name="formIp" ng-submit="ipCtrl.submit()" >
					<div class="row">
						<div class="col-sm-2">
						Classe IP
							<input class="form-control" placeholder=" Ex: 10" maxlength="2"  ng-model="classeIp" id="numero" name="numero" type="text" ui-number-mask="0" required>
							</div>
							<div class="col-sm-2">
						Rede IP
							<input class="form-control" placeholder=" Ex:14" maxlength="2"  ng-model="redeIp" id="numero" name="numero" type="text" ui-number-mask="0" required>
							</div>
							
							<div class="col-sm-2">
						Range IP
							<input class="form-control" placeholder=" Ex: 209" maxlength="3"  ng-model="rangeIp" id="numero" name="numero" type="text" ui-number-mask="0" required>
							</div>
										
						<div class="col-sm-3">
						Tipo:
							<select class="form-control" ng-model="ipCtrl.ip.tipo" 
								ng-options="tipoIp.descricao for tipoIp in ipCtrl.tipoIps" required >
									<option  value="">{{ipCtrl.ip.tipo.descricao}}</option>
								</select>
						</div>		
						
					</div>
					
				<br>
				<br>
					<div class="row ">
					<div class="col-sm-4"></div>
						<div class="col-sm-4">
							<input type="submit" id="submit" value="Salvar"	class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
					</div>

				</form>
			</div>
		