 <meta charset="UTF-8">
		<div class="table-responsive">
		<input class="form-control" type="text" ng-model="buscaIp" placeholder="Pesquisar...">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Número</th>
						<th>Tipo</th>
						<th>Status</th>
						<th>Editar</th>
						
					</tr>
				</thead>
				<tbody
					 ng-repeat=" ip in ipCtrl.ips | filter : buscaIp | orderBy : 'id' "> 
					<tr>
						<td>{{ ip.numero }}</td>
						<td><div class="row">
							<div class="col-sm-6"  >
								<select class="form-control " ng-model="ip.tipo" 
									ng-options="tipoIp.descricao for tipoIp in ipCtrl.tipoIps"  required >
										<option ng-value="ip.tipo" value="">{{ip.tipo.descricao}}</option>
									</select>
								</div>						
					</div></td>
					<td>{{ ip.status }}</td>
						<td ><a class="btn btn-success" ng-click="ipCtrl.alterar(ip)">Alterar</a> 						
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
</div>
