<meta charset="UTF-8">
<br>
<br>
<div 	ng-controller="unidadeController as unidadeCtr">

	<div class="box box-primary" ng-init="unidadeCtr.lista()">
	
		<div class="box-header">
			<span class="lead">Lista unidades</span>
		</div>
		<div class="panel-body table-responsive">
		<input class="form-control" type="text" ng-model="buscaUnidade" placeholder="Buscar">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Mnemonico</th>
						<th>Tipo</th>
						<th>Coordenadoria</th>
						<th>Secretaria</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" unidade in unidadeCtr.listaUnidades | filter : buscaUnidade ">
					<tr>
						<td>{{ unidade.dadosUnidade.nome }}</td>
						<td>{{ unidade.dadosUnidade.mnemonico }}</td>
						<td>{{ unidade.tipoUnidade.mnemonico }}</td>
						<td>{{ unidade.coordenadoria.mnemonico }}</td>
						<td>{{ unidade.coordenadoria.secretaria.mnemonico }}</td>
						<td><a href="#/unidade/editar/{{unidade.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
</div>

