<meta charset="UTF-8">
<br>
<br>

<!-- <div ng-if="!role_cadastrar_ip" ng-include="'views/erros/permissao.html'"></div> -->
<div ng-controller="tipoIpController as tipoIpCtrl">


	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Editar Tipo de Ip </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" name="formTipoIp" ng-submit="tipoIpCtrl.altera()" >
					<div class="row">
						<div class="col-sm-6">
							<input class="form-control" placeholder="Descricao"  ng-model="tipoIpCtrl.tipoIp.descricao" id="descricao" name="descricao" type="text" required>
							
						</div>
					</div>
					<br>
																		
											
					<br>
					<div class="row ">
							<input type="submit" id="submit" value="Salvar"	class="btn btn-lg btn-primary btn-block btn-signin">
					</div>

				</form>
			</div>
		</div>
</form>
	</div>
	<div class="tablecontainer"></div>
</div>
