<meta charset="UTF-8">

					<div class="col-sm-12">
						<input  class="form-control" placeholder="Busca..." ng-model="busca"> 
					</div>
					<br>
					<div ng-repeat="telefone in foneCtrl.telefones | filter : busca | orderBy : 'setor.nome'">
							    	         						
						    <div class="col-sm-3">
						      <md-card>
						        <md-card-title>
						          <md-card-title-text>
						          <center><h4>{{telefone.setor.nome}}</h4></center>
						          </md-card-title-text>						         
						        </md-card-title>		
						        <!--<center><h3>{{telefone.telefone | tel }}</h3></center>-->
						         <center><h3><input class="form-control" ng-model="telefone.telefone" ui-br-phone-number id="telefone" type="text" disabled></h3></center>				        
						      </md-card>
						      </div>
												     	  
					</div>	