<meta charset="UTF-8">
<div 	ng-controller="itemDiariaController as diariaCtrl" >
	
		<section layout="row" layout-align="right center">
		  <md-button href="#/" class="groupX left">Menu</md-button>
		  <md-button href="#/diaria/cadastrar" class="groupX middle">Cadastrar novo Mês</md-button>
		  <md-button href="#/diaria/em-aberto" class="groupX middle">Em aberto</md-button>
		  <md-button href="#/diaria/relatorio" class="groupX middle">Relátorios</md-button>		  
		</section>
		
	<div class="box box-primary" >
		<div class="box-header">
			<span class="lead">Lista de Diarias Coordenadoria</span>
		</div>
		<div class="panel-body table-responsive"  >
		
		<button ng-json-export-excel data="listaDiariaExcel" report-fields="{nome: 'Favorecido', cargo:'Cargo', unidadeLotado:'Unidade Lotado', dataDiaria: 'Data  Diária', destino: 'Destino', motivo: 'Motivo', valorDiaria: 'Valor Diária', valorPassagem: 'Valor Passagem' }" 
		filename="'lista diaria'" class="btn-sm btn-primary">Exportar Excel</button>
		
	
    <hr>    
		<input class="form-control" type="text" placeholder="Buscar" ng-model="busca" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Favorecido</th>
						<th>Cargo</th>
						<th>Unidade Lotado</th>
						<th>Data Diária</th>
						<th>Destino</th>
						<th>Motivo</th>
						<th>Valor da Diária</th>
						<th>Valor da Passagem</th>					
					</tr>
				</thead>
				<tbody
					ng-repeat=" diaria in listaDiaria | filter : busca">
					<tr>
					<td>{{ diaria.funcionario.pessoa.nomeCompleto }}</td>
					<td>{{ diaria.funcionario.cargoAtual.descricao }}</td>
					<td>{{ diaria.unidade.dadosUnidade.mnemonico}}</td>
					<td>{{ diaria.dataDiaria | date : 'dd/MM/yyyy'}}</td>					
					<td>{{ diaria.destino }}</td>
					<td>{{ diaria.motivo }}</td>
					<td>{{ diaria.valorDiaria | currency}}</td>
					<td>{{ diaria.valorPassagem | currency}}</td>
					
					</tr>
							
				</tbody>
				<tfoot>
					<tr>
					

					</tr>
				</tfoot>
			</table>
		</div>
		
	</div>

</div>
