<meta charset="UTF-8">
					<div class="col-sm-12">
						<input  class="form-control" placeholder="Busca..." ng-model="busca"> 
					</div>
					<br>
					<div ng-repeat="unidade in ramalCtrl.unidades | filter : busca ">							    	         						
						    <div class="col-sm-3">
						      <md-card>
						        <md-card-title>
						          <md-card-title-text>
						          <md-button ui-sref="ramal.unidades({idUnidade : unidade.id})">{{unidade.dadosUnidade.mnemonico}}</md-button>
						          
						          <md-button ui-sref="ramal.unidadesCoordenadoria({idCoordenadoria : unidade.coordenadoria.id})">Unidades</md-button>
						          </md-card-title-text>
						        </md-card-title>						        
						      </md-card>
						      </div>												     	  
					</div> 
					
			