<meta charset="UTF-8">


<div class="row">
	<div class="col-sm-3">
		<input class="form-control" placeholder="Pesquisar..." type="text" ng-model="buscar">
	</div>
</div>

<br>
		<div class="panel-body table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th class="btn btn-primary btn-flat col-sm-2"><md-button  ><h5>Setor</h5></md-button> </th>
					<th class="btn btn-primary btn-flat col-sm-2"><md-button  ><h5>Ramal</h5></md-button> </th>
					<th class="btn btn-primary btn-flat col-sm-1"><md-button  ><h5>Unidade</h5></md-button> </th>
					<th permission="['TELEFONE_CADASTRAR', 'ADMIN']" class="btn btn-primary btn-flat col-sm-1"><md-button  ><h5>Opções</h5></md-button> </th>
					
					</tr>
				</thead>
				<tbody
					ng-repeat=" ramal in ramalCtrl.listarRamal | filter : buscar ">
					<tr>
						<td>{{ ramal.setor.nome }}</td>
						<td>{{ ramal.numero }}</td>
						<td>{{ ramal.unidade.dadosUnidade.mnemonico}}</td>
						<td><a permission="['TELEFONE_CADASTRAR', 'ADMIN']" ui-sref="ramal.editar({idRamal: ramal.id})"><i class="glyphicon glyphicon-edit"></i></a> 
						
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
