<meta charset="UTF-8">

<div class="container col-sm-12 ">
	<form role="form-vertical" name="formSecretaria"
		ng-submit="ctrl.submit()">

	
			
		<div class="row">
		<div class="col-sm-3">
				Tipo : <select class="form-control "
					ng-model="ctrl.tema.tipoEquipamento" id="tipo"
					ng-options="tipoEquipamento for tipoEquipamento in ctrl.tipoEquipamentos track by tipoEquipamento">
				</select>
			</div>
			<div class="col-sm-3" ng-if="ctrl.tema.tipoEquipamento === 'SISTEMA'">
			Sistema:
				<select class="form-control select2" ng-model="ctrl.tema.sistema"
					id="secretariaId" ng-change="ctrl.modulos(ctrl.tema.sistema.id)"
					ng-options="sistema.descricao for sistema in ctrl.sistemas track by sistema.id">
				</select>
			</div>
			<div class="col-sm-3" ng-if="ctrl.tema.sistema">
			Módulo:
				<select class="form-control select2" ng-model="ctrl.tema.modulo"
					id="secretariaId"
					ng-options="modulo.descricao for modulo in ctrl.modulos track by modulo.id">
				</select>
			</div>
			<div class="col-sm-3">
			Tema:
				<input class="form-control" placeholder="Nome"
					ng-model="ctrl.tema.descricao" id="idNome" name="nome" type="text"
					required>
			</div>
		</div>
		<br>


		<div class="row ">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<input type="submit" id="submit" value="Salvar"
					class="btn btn-lg btn-primary btn-block btn-signin">
			</div>
		</div>


	</form>
</div>
