 <meta charset="UTF-8"> 
<div class="row">
		<div class="col-sm-3">
			<input class="form-control" placeholder="Pesquisar..." type="text" ng-model="buscar">
		</div>
	</div>
<br>

		<div class="table-responsive" >
		<table class="table table-hover table-bordered " >
				<thead>
					<tr>
						<th class="btn btn-primary btn-flat col-sm-2"><md-button  ><h5>Titulo</h5></md-button> </th>
						<th class="btn btn-primary btn-flat col-sm-2"><md-button  ><h5>Solicitante</h5></md-button> </th>
						<th class="btn btn-primary btn-flat col-sm-1"><md-button  ><h5>Setor</h5></md-button> </th>
						<th class="btn btn-primary btn-flat col-sm-1"><md-button  ><h5>Status</h5></md-button> </th>
						<th class="btn btn-primary btn-flat col-sm-1"><md-button  ><h5>Abertura</h5></md-button> </th>
						<th class="btn btn-primary btn-flat col-sm-1"><md-button  ><h5>Horário</h5></md-button> </th>
						<th class="btn btn-primary btn-flat col-sm-1"><md-button  ><h5>Qtd</h5></md-button> </th>							
						<th class="btn btn-primary btn-flat col-sm-1"><md-button  ><h5>Opções</h5></md-button> </th>
					
					</tr>
				</thead>
				<tbody	ng-repeat=" chamado in chamadoCtrl.chamados | filter : buscarChamado | orderBy : '-id'  ">
					<tr>
						<td>{{ chamado.titulo }}</td>
						<td>{{ chamado.usuarioSolicitante.funcionario.pessoa.nomeCompleto | limitTo:20}}</td>
						<td>{{ chamado.setor.nome }}</td>	
						<td>{{ chamado.status }}</td>	
						<td>{{ chamado.dataAbertura | date : 'dd/MM/yyyy'}}</td>
						<td>{{ chamado.dataAbertura | date : 'HH:mm:ss' }}</td>	
						<td>{{ chamado.mensagens.length}}</td>										
						<td><a ui-sref="chamadoManutencao.suporteAtendimento({idChamadoManutencao : chamado.id})"><i class="glyphicon glyphicon-search"></i></a>
						<a ng-if="!chamado.silenciar" href="" ng-click="chamadoCtrl.silenciarChamadoTrue(chamado)"><i class="glyphicon glyphicon-volume-up"></i></a>
						<a ng-if="chamado.silenciar" href="" ng-click="chamadoCtrl.silenciarChamadoFalse(chamado)"><i class="glyphicon glyphicon-volume-off"></i></a></td>					
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
</div>

