<meta charset="UTF-8">
			<div class="col-sm-12 ">
			<form role="form-vertical" name="formEquipamento" ng-submit="equipamentoCtrl.submit()" >
				<div class="row" ng-if="equipamentoCtrl.equipamento.id">
					<div class="col-sm-4">
							<input type="button" ng-click="equipamentoCtrl.baixar(equipamentoCtrl.equipamento)" value="Baixar" title="Dar baixa no Equipamento"	class="btn btn-lg btn-danger btn-block btn-signin">
						</div>
					
				</div>
				<div class="row">
						<div class="col-sm-6 ">
						Descrição:
							<input class="form-control text-uppercase" placeholder="Descricao"  ng-model="equipamentoCtrl.equipamento.descricao" id="descricao" name="descricao" type="text" required>
							
						</div>						
						<div class="col-sm-6">
						Patrimonio:
							<input class="form-control text-uppercase" placeholder="Patrimonio"  ng-model="equipamentoCtrl.equipamento.patrimonio" id="nome" ng-blur="equipamentoCtrl.existePatrimonio(equipamentoCtrl.equipamento.patrimonio)" name="patrimonio" type="text" required>
							
						</div>
				</div>
					<br>
				<div class="row">	
				<div class="col-sm-6">
						Mac-Adress:
							<input class="form-control text-uppercase" placeholder="Mac-Adress"  ng-model="equipamentoCtrl.equipamento.macAdress" id="macAdress"  name=""macAdress"" type="text" required>
							
						</div>					
						
						
						<div class="col-sm-6">
						Tipo de Equipamento:
						<select class="form-control " ng-model="equipamentoCtrl.equipamento.tipoEquipamento" 
							ng-options="tipoEquipamentoEnum for tipoEquipamentoEnum in equipamentoCtrl.tipoEquipamentoEnum track by tipoEquipamentoEnum" >
							</select>
						</div>																		
				</div>
						<br>
					
					<div class="row">
					<div class="col-sm-6">
						Ip:
						<select class="form-control " ng-model="equipamentoCtrl.equipamento.ip" 
							ng-options="ip.numero for ip in equipamentoCtrl.ips"  >
							<option ng-value="equipamentoCtrl.equipamento.ip" value="">{{equipamentoCtrl.equipamento.ip.numero}}</option>
								</select>
						</div>	
					<div class="col-sm-6">
					Número Ponto:
						<select class="form-control select2" ng-model="equipamentoCtrl.equipamento.ponto" 
							ng-options="ponto.numero for ponto in equipamentoCtrl.pontos"  >
							<option ng-value="equipamentoCtrl.equipamento.ponto" value="">{{equipamentoCtrl.equipamento.ponto.numero}}</option>
							</select>
							
						</div>		
																
					</div>
					<br>	
																
					
					<div class="row ">
					<div class="col-sm-4"></div>
						<div class="col-sm-4">
							<input type="submit" id="submit" value="Salvar"	class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
							
					</div>
						
									
				</form>
			</div>
	