 <meta charset="UTF-8">
<br>
<br>
<div 	ng-controller="pontoController as pontoCtr">

	<div class="box box-primary" ng-init="pontoCtr.lista()">
	
		<div class="box-header">
			<span class="lead">Lista Ponto Espelho</span>
		</div>
		<div class="panel-body table-responsive">
		<input class="form-control" type="text" ng-model="buscaSetor" placeholder="Buscar">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>descricao</th>
						<th>numero</th>
						<th>setor</th>
						
						
						<th ng-if="role_cadastrar_ponto">Opções</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" ponto in pontoCtr.listaPonto | filter : buscaSetor ">
					<tr>
						<td>{{ ponto.descricao }}</td>
						<td>{{ ponto.numero }}</td>
						<td>{{ ponto.setor.nome}}</td>
						<!-- <td><a href="#/recursosHumanos/setor/editar/{{setor.id}}"><i class="glyphicon glyphicon-pencil"></i></a>-->
						<td ><a href="#/controleIp/ponto/editar/{{ponto.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
</div>
