<meta charset="UTF-8">

		<div class="panel-body table-responsive">
		<input class="form-control" type="text" ng-model="buscaSecretaria" placeholder="Buscar">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Mnemonico</th>
						<th>Nome</th>					
						<th>Opções</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" secretaria in secretariaCtrl.secretarias | filter : buscaSecretaria ">
					<tr>
						<td>{{ secretaria.mnemonico }}</td>
						<td>{{ secretaria.nome }}</td>					
						<td><a ui-sref="secretaria.editar({idSecretaria : secretaria.id})"><i class="glyphicon glyphicon-edit"></i></a> 
						
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	

