<meta charset="UTF-8">

     
    
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>01</h3>
              <p>Cadastrar</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="veiculo.cadastrar" class="small-box-footer">
              Avançar<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
        
         <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>01</h3>
              <p>Listar</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="veiculo.listar" class="small-box-footer">
              Avançar<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
       