<meta charset="UTF-8">

			<div class="col-sm-12 ">
				<form role="form-vertical" ng-submit="ctrl.submit()" >
					<div class="row">
						 <div class="col-sm-4">
								Data Reserva: <input class="form-control"
					
					ng-model="ctrl.reserva.dataReserva"
					id="dataReserva" type="date" required>
				</div>								
					</div>
					<br>
			<div class="row">
						 <div class="col-sm-4">
						 					 
								Hora da Reserva: <input class="form-control" 
					ng-model="ctrl.reserva.horaReserva"
					id="horaReserva" type="time" required>
				</div>								
					</div>
					
					<br>
										
					<div class="row">
						<div class="col-sm-7">
							Funcionario: <input class="form-control" placeholder="Funcionario"
					ng-model="ctrl.reserva.funcionario"
					id="funcionario" name="nome" type="text" required>
				</div>
				</div>			
						
					<br>
					
					<div class="row">
					<div class="col-sm-6">
					
							Unidade:
							<select class="form-control select2" ng-model="ctrl.reserva.unidadeCadastro" 
								ng-options="unidade.dadosUnidade.nome for unidade in ctrl.unidades track by unidade.dadosUnidade.id"  >
								
								
							
								
												
			
							</select>
						</div>
					</div> 
																							
					<br>
					<div class="row">					
						<div class="col-sm-6">
						Evento:
							<input class="form-control" ng-model="ctrl.reserva.evento" placeholder="Evento" id="evento" type="text" required>
							
						
						</div>						
					</div>	
					
					
					<br>						
					<br>
							
					<div class="row ">
						<div class="col-sm-4"></div>
						<div class="col-sm-4">
							<input type="submit" id="submit" value="Salvar" ng-disabled="!ctrl.reserva.dataReserva"
								class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
					</div>
				
				</form>
			</div>