<!DOCTYPE html>
<html ng-app="crc">
<title>
Portal Coordenadoria Central
</title>
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">


<link href="public/components/angular-chart.js/dist/angular-chart.css" rel="stylesheet" />
<link href="public/components/angular-block-ui/dist/angular-block-ui.min.css" rel="stylesheet" />
<link href="public/components/bootstrap/dist/css/bootstrap.css"	rel="stylesheet" />
<link href="public/components/angular-toastr/dist/angular-toastr.css"	rel="stylesheet" />
<link href="public/template/css/app.css" rel="stylesheet" />
<link href="public/template/css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="public/template/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="public/template/dist/css/skins/skin-purple.css">
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script	src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<link rel="stylesheet" href="public/components/sweetalert2/dist/sweetalert2.min.css">
<link href="/public/template/css/login.css" rel="stylesheet" />



</head>


<div ng-if="!logado" ng-include="'views/login.html'"></div>

<body class="hold-transition skin-purple sidebar-mini">
	<div ng-show="logado" class="wrapper">

		<div ng-if="logado" ng-include="'views/templates/header.html'"></div>

		<div ng-if="logado" ng-include="'views/templates/menu.html'"></div>

		<div ng-if="logado"  class="content-wrapper">


			<section class="content">

				<div ng-if="logado" ng-view></div>

			</section>
		</div>


		<div ng-if="logado" ng-include="'views/templates/footer.html'"></div>

		
	</div>

	<script src="public/template/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<script src="public/template/dist/js/appTeste.js"></script>
	<script src="public/components/angular/angular.js"></script>
	<script src="public/components/angular/ui-utils.min.js"></script>
	<script	src="public/components/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<script src="public/components/angular-animate/angular-animate.js"></script>
	<script src="public/components/angular-touch/angular-touch.js"></script>
	<script	src="public/components/angular-locale-pt-br/angular-locale_pt-br.js"></script>
	<script src="public/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="public/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script	src="public/components/angular-block-ui/dist/angular-block-ui.min.js"></script>
	<script src="public/components/angular-route/angular-route.min.js"></script>
	<script src="public/components/Chart.js/Chart.js"></script>
	<script src="public/components/angular-chart.js/dist/angular-chart.js"></script>
	<script src="public/components/ngstorage/ngStorage.min.js"></script>	
 	<script src="public/components/sweetalert2/dist/sweetalert2.min.js"></script>
 	<script src="public/components/es6-promise/es6-promise.auto.min.js"></script>
	<!-- <script src="public/components/angular-input-masks/angular-input-masks.min.js"></script> -->







	<script src="public/js/app.js"></script>
	<script src="public/js/rotas/rotas.js"></script>
	<script src="public/js/auth/auth.js"></script>
	<script src="public/js/login.js"></script>
	
	<script src="public/js/controller/usuario-controller.js"></script>
	<script src="public/js/services/usuario-service.js"></script>
	
	<script src="public/js/controller/coordenadoria-controller.js"></script>
	<script src="public/js/services/coordenadoria-service.js"></script>
	
	<script src="public/js/controller/secretaria-controller.js"></script>
	<script src="public/js/services/secretaria-service.js"></script>
	
	<script src="public/js/controller/unidade-controller.js"></script>
	<script src="public/js/services/unidade-service.js"></script>
	
	<script src="public/js/controller/recursosHumanos/cargo-controller.js"></script>
	<script src="public/js/services/recursosHumanos/cargo-service.js"></script>
	
	<script src="public/js/controller/recursosHumanos/funcionario-controller.js"></script>
	<script src="public/js/services/recursosHumanos/funcionario-service.js"></script>
	
	<script src="public/js/controller/recursosHumanos/setor-controller.js"></script>
	<script src="public/js/services/recursosHumanos/setor-service.js"></script>
	
	<script src="public/js/controller/tipo-unidade-controller.js"></script>
	<script src="public/js/services/tipo-unidade-service.js"></script>
	
	<script src="public/js/controller/ramal-controller.js"></script>
	<script src="public/js/services/ramal-service.js"></script>
	
	<script src="public/js/controller/telefone-controller.js"></script>
	<script src="public/js/services/telefone-service.js"></script>
	
	<script src="public/js/controller/recursosHumanos/funcionario-unidade-controller.js"></script>
	<script src="public/js/services/recursosHumanos/funcionario-unidade-service.js"></script>
	
	<script src="public/js/controller/recursosHumanos/funcao-controller.js"></script>
	<script src="public/js/services/recursosHumanos/funcao-service.js"></script>
	
	
	
	</body>

</html>

