<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"
	ng-controller="funcionarioUnidadeController as funcionarioUnidadeCtrl">

	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Atribuir Unidade </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" name="formAtribuirUnidade"
					ng-submit="funcionarioUnidadeCtrl.salva()">
					
						
					
					<br>
					<div class="row">
						<div ng-if="lotado">
						Ativo
							<input  ng-model="funcionarioUnidadeCtrl.funcionarioUnidade.ativo"	id="ativo" type="checkbox"  required >
						</div>
						<div class="col-sm-3">
						Nome
						<br>
								{{funcionarioUnidadeCtrl.funcionario.pessoa.nomeCompleto}}
						</div>
						<div class="col-sm-2">
						CPF
						<br>
								{{funcionarioUnidadeCtrl.funcionario.pessoa.cpf}}
						</div>
					</div>
					
						<br>
					<div class="row">
						
						<div class="col-sm-4"  ng-init="funcionarioUnidadeCtrl.listaStatus()">
							<select class="form-control select2"  ng-model="status" ng-click="funcionarioUnidadeCtrl.verificaAtivo()" ng-options="status for status in funcionarioUnidadeCtrl.status" style="width: 100%;">
								<option value="">--Status--</option>
							</select>
						</div> 
						
						<div class="col-sm-2">
							<input class="form-control" placeholder="Data inclusão" ng-model="funcionarioUnidadeCtrl.funcionarioUnidade.dataAdmissao" id="dataAdmissao" type="text" ui-date required >
						</div>
						
					</div>
					
					<br>
					
					<div class="row">	
					
						<div class="col-sm-4" ng-controller="unidadeController as unidadeCtrl" ng-init="unidadeCtrl.lista()">
							<select class="form-control select2"  ng-model="funcionarioUnidadeCtrl.funcionarioUnidade.unidade" ng-options="unidades.dadosUnidade.nome group by unidades.tipoUnidades.mnemonico for unidades in unidadeCtrl.listaUnidades"  style="width: 100%;">
								<option value="">--Unidade--</option>
							</select>
						</div>
				
						<div class="col-sm-3" ng-controller="cargoController as cargoCtrl" ng-init="cargoCtrl.lista()">
							<select class="form-control select2" ng-model="funcionarioUnidadeCtrl.funcionarioUnidade.cargo" ng-options="listarCargos.descricao group by listarCargos.shade for listarCargos in cargoCtrl.listaCargo"  style="width: 100%;">
									<option value="">--Cargo--</option>
							</select>
						</div>	
						<div class="col-sm-3" ng-controller="funcaoController as funcaoCtrl" ng-init="funcaoCtrl.lista()">
							<select class="form-control select2" ng-model="funcionarioUnidadeCtrl.funcionarioUnidade.funcao" ng-options="funcoes.descricao for funcoes in funcaoCtrl.listaFuncao"  style="width: 100%;">
									<option value="">--Função--</option>
							</select>
						</div>							
					</div>

					<hr>					
					
					<br>
					<div class="row ">
							<input type="submit" id="submit" value="Salvar"	class="btn btn-lg btn-primary btn-block btn-signin">
					</div>

				</form>
			</div>
		</div>

	</div>
	<div class="tablecontainer"></div>
</div>
</div>
