<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"
	ng-controller="funcionarioController as cadFuncCtrl">

	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Cadastro de Funcionario </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" name="formCadastrarFuncionario"
					ng-submit="cadFuncCtrl.salva()">
					<div class="row">
						<div class="col-sm-12">
							<input class="form-control" placeholder="Nome"
								ng-model="cadFuncCtrl.funcionario.pessoa.nomeCompleto"
								id="nomeCompleto" name="nome" type="text" required>
						</div>
					</div>
					
					<br>
					
					<div class="row">
						<div class="col-sm-4" >
						<input class="form-control" placeholder="RG" ng-model="cadFuncCtrl.funcionario.pessoa.rg" id="rg" type="text"	required>
						</div>
						
						<div class="col-sm-4">
							<input class="form-control" name="cpfField" placeholder="CPF"
								ng-model="cadFuncCtrl.funcionario.pessoa.cpf" id="cpf" type="text" ui-br-cpf-mask required>
								<p ng-show="formCadastrarFuncionario.cpfField.$error.cpf"
								class="alert alert-warning ">Digite um CPF válido!!</p>
						</div>
						<div class="col-sm-2">
							<input class="form-control" placeholder="Data Nascimento"
								ng-model="cadFuncCtrl.funcionario.pessoa.dataNascimento"
								id="dataNascimento" type="text" ui-date required  >
						</div>
							<div class="col-sm-2">
							<input class="form-control"  placeholder="Idade"
								ng-model="cadFuncCtrl.funcionario.pessoa.idade"
								id="idade" type="text" ng-minlength="2" ng-maxlength="2" required  >
						</div>
					</div>
					<br> 
					
					<br>
					<div class="row">
				
						<div class="col-sm-3">
							<input class="form-control" placeholder="Telefone Fixo"
								ng-model="cadFuncCtrl.funcionario.pessoa.telefoneFixo"
								id="telefoneFixo" type="tel"  ui-br-phone-number required>
						</div>
				
						<div class="col-sm-3">
							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.pessoa.telefoneCelular" placeholder="Celular"
								id="telefoneCelular" type="tel" ui-br-phone-number required>
						</div>
						<div class="col-sm-3">
							<select class="form-control select2" ng-model="cadFuncCtrl.funcionario.pessoa.sexo" style="width: 100%;" required>
									<option value="">--Sexo--</option>
									<option value="Masculino">Masculino</option>
									<option value="Feminino">Feminino</option>
							</select>
						</div>
							<div class="col-sm-3"  ng-init="cadFuncCtrl.estadoCivil()">
							<select class="form-control select2"  ng-model="cadFuncCtrl.funcionario.pessoa.estadoCivil" ng-options="estadoCivil for estadoCivil in cadFuncCtrl.listaEstadoCivil"  style="width: 100%;">
								<option value="">--Estado Civil--</option>
							</select>
						</div>
					</div>
					
					
					<br>
					
						<hr>						
					
					<h4>Endereço</h4>

					<br>
					
					
					<div class="row">
						<div class="col-sm-3">
							<input class="form-control"	ng-model="cadFuncCtrl.funcionario.pessoa.endereco.cep" id="cep" name="cepField"
								type="text" placeholder="CEP"  ng-blur="cadFuncCtrl.findCep()"  onkeyup="if(this.value.length > 8) { numero.focus(); }"   ui-br-cep-mask required>
								
							<p ng-show="formCadastrarFuncionario.cepField.$error.cep" class="alert alert-warning ">Digite um CEP Válido</p>

						</div>
					</div>	
					<br>
					<div class="row">	
						<div class="col-sm-5">
							<input class="form-control" placeholder="Rua"
								ng-model="cadFuncCtrl.funcionario.pessoa.endereco.logradouro" id="rua"
								type="text" maxlength="50" required>
						</div>
						<div class="col-sm-2">
							<input class="form-control" name="numero" placeholder="N°"
								ng-model="cadFuncCtrl.funcionario.pessoa.endereco.numero" id="numero"
								type="text"  required>
						</div>
						<div class="col-sm-5">
							<input class="form-control" placeholder="Complemento"
								ng-model="cadFuncCtrl.funcionario.pessoa.endereco.complemento"
								id="complemento" maxlength="50" type="text">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-5">
							<input class="form-control" placeholder="Bairro"
								ng-model="cadFuncCtrl.funcionario.pessoa.endereco.bairro" id="bairro"
								type="text" maxlength="50" required>

						</div>
						<div class="col-sm-5">
							<input class="form-control" placeholder="Cidade"
								ng-model="cadFuncCtrl.funcionario.pessoa.endereco.localidade" id="cidade"
								type="text"  maxlength="50" required>
						</div>
						<div class="col-sm-2">
							<input class="form-control" placeholder="Estado"
								ng-model="cadFuncCtrl.funcionario.pessoa.endereco.uf" id="estado"
								type="text"  maxlength="50" required>
						</div>

					</div>
					
					<br>
					<div class="row ">
							<input type="submit" id="submit" value="Salvar"	class="btn btn-lg btn-primary btn-block btn-signin">
					</div>

				</form>
			</div>
		</div>

	</div>
	<div class="tablecontainer"></div>
</div>
</div>
