<meta charset="UTF-8">
<br>
<br>
<div 	ng-controller="funcionarioController as funCtrl" >

	<div class="box box-primary" ng-init="funCtrl.lista()">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Lista de Funcionarios </span>
		</div>
		<div class="panel-body table-responsive"  >
		
		<input class="form-control" type="text" placeholder="Buscar" ng-model="buscaFuncionario" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>CPF</th>
						<th>Telefone</th>
						<th>Sexo</th>
						<th>Cidade</th>
						<th>Editar</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" funcionario in funCtrl.listaFuncionarios | filter : buscaFuncionario">
					<tr>
					<td>{{ funcionario.pessoa.nomeCompleto }}</td>
						<td>{{ funcionario.pessoa.cpf }}</td>
						<td>{{ funcionario.pessoa.telefoneCelular}}</td>
						<td>{{ funcionario.pessoa.sexo }}</td>
						<td>{{ funcionario.pessoa.endereco.localidade}}</td>
						<td><a href="#/recursosHumanos/funcionario/editar/{{funcionario.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
						<td><a href="#/recursosHumanos/funcionario/unidade/{{funcionario.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
					
					</tr>
							
				</tbody>
				<tfoot>
					<tr>
					

					</tr>
				</tfoot>
			</table>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
