<meta charset="UTF-8">
<div class="row">
	<div class="col-sm-3">
		<h2>Relatório</h2>
	</div>
</div>

<br>
<div class="row">
	<div class="col-sm-3">
		<input class="form-control" placeholder="Pesquisar..." type="text"
			ng-model="buscar">
	</div>
	<div class="col-sm-7"></div>
	<div class="col-sm-2">
		Total Mês:
		<div class="btn btn-warning">{{valorTotal | currency}}</div>
	</div>
</div>
<br>
<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th class="btn btn-primary btn-flat col-sm-2"><md-button>
					<h5>Nome</h5>
					</md-button></th>
				<th class="btn btn-primary btn-flat col-sm-2"><md-button>
					<h5>CPF</h5>
					</md-button></th>
				<th class="btn btn-primary btn-flat col-sm-2"><md-button>
					<h5>Cargo</h5>
					</md-button></th>
				<th class="btn btn-primary btn-flat col-sm-1"><md-button>
					<h5>Unidade</h5>
					</md-button></th>
				<th class="btn btn-primary btn-flat col-sm-1"><md-button>
					<h5>Valor total</h5>
					</md-button></th>
			</tr>
		</thead>
		<tbody
			ng-repeat=" diaria in ctrl.itens | filter : buscar |  orderBy : '-id'">
			<tr>
				<td><md-button data-toggle="modal"
						title="Informações sobre esta diária." ng-model="diaria"
						ng-click="ctrl.informacaoModal(diaria)"
						data-target="#informacaoModal">
					<h5>{{diaria.contaFuncionario.funcionario.pessoa.nomeCompleto
						}}</h5>
					</md-button></td>
				<td>{{diaria.contaFuncionario.funcionario.pessoa.cpf}}</td>
				<td>{{diaria.contaFuncionario.funcionario.cargoAtual.descricao}}</td>
				<td>{{diaria.unidade.dadosUnidade.mnemonico}}</td>
				<td><md-button
						ui-sref="item.visualizar({idFuncionarioDiaria : diaria.id})">
					<h5>{{diaria.totalValorDiaria | currency}}</h5>
					</md-button></td>
			</tr>

		</tbody>
		<tfoot>
			<tr>


			</tr>
		</tfoot>
	</table>
</div>
<!-- INICIO  modal do informaçoes da diaria -->
<div class="modal fade bs-example-modal-lg modal-primary"
	id="informacaoModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">Diária
					{{item.diaria.mes}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<br>
					<div class="col-sm-12">
						<h3>Observação:</h3>
						<br>
						<h4>{{item.diaria.observacao}}</h4>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-6">
						<h3>Data Abertura:</h3>
						<br>
						<h4>{{item.diaria.dataAbertura | date : 'dd/MM/yyyy'}}</h4>
					</div>
					<div class="col-sm-6">
						<h3>Valor UFESP:</h3>
						<br>
						<h4>{{item.diaria.valorUfesp | currency}}</h4>
					</div>
				</div>
				<br>
				<hr>
				<div class="row">
					<div class="col-sm-6">
						<h3>lançamento realizado por:</h3>
						<br>
						<h4>{{item.usuarioCadastro.funcionario.pessoa.nomeCompleto}}</h4>
					</div>
					<div class="col-sm-6">
						<h3>Setor:</h3>
						<br>
						<h4>{{item.usuarioCadastro.funcionario.setorAtual.nome}}</h4>
					</div>
				</div>

				<br>
			</div>
			<div class="modal-footer ">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>
<!-- FIM  modal do informaçoes da diaria -->
