<meta charset="UTF-8">
<div class="table-responsive">

	<input class="form-control" type="text" placeholder="Pesquisar..."
		ng-model="buscar">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>Favorecido</th>
				<th>Cargo</th>
				<th>Unidade Lotado</th>
				<th>Total da Diária</th>

			</tr>
		</thead>
		<tbody
			ng-repeat=" diaria in ctrl.itens | filter : busca |  orderBy : '-id'">
			<tr>
				<td><a ui-sref="item.visualizar({idFuncionarioDiaria : diaria.id})">{{
						diaria.contaFuncionario.funcionario.pessoa.nomeCompleto }}</a></td>
				<td>{{ diaria.contaFuncionario.funcionario.cargoAtual.descricao
					}}</td>
				<td>{{ diaria.unidade.dadosUnidade.mnemonico}}</td>
				<td>{{ diaria.totalValorDiaria | currency}}</td>				
			</tr>

		</tbody>
		<tfoot>
			<tr>


			</tr>
		</tfoot>
	</table>
</div>

