<meta charset="UTF-8">
<div class="box-body no-padding">
             
             	<a permission="['DIARIA_FINANCAS_COORDENADORIA' , 'ADMIN']" href="" ui-sref="diaria.cadastrar" class="btn btn-default btn-flat col-sm-4">Novo mês</a>
                <a permission="['DIARIA' , 'ADMIN']" href="" ui-sref="diaria.listar" class="btn btn-default btn-flat col-sm-4">Em aberto</a>
              	<a permission="['DIARIA' , 'ADMIN']" href="" ui-sref="diaria.relatorio" class="btn btn-default btn-flat col-sm-4"> Relatorios</a>
              
             
            </div>
           <br>
<div class="row">	
       <div class="col-sm-12">     
			<div class="box box-primary" >	
					<div class="box-header">Diaria</div>
					<div class="panel-body">
						<div class="ui-view"></div>
					</div>
			</div>
		</div>
</div>  
			