<meta charset="UTF-8">
			<div class="col-sm-12 ">
				<form role="form-vertical" name="formDiaria"
					ng-submit="funcionarioCtrl.submit()">						
						
					<div class="row">
					<div class="col-sm-2">
						Deslocamento:
							<input class="form-control text-uppercase" placeholder="Destino" ng-model="funcionarioCtrl.itemDiaria.destino"  ng-blur="funcionarioCtrl.buscarValoresDiaria(funcionarioCtrl.contaFuncionarioDiaria.indiceUfesp)" id="destino" type="text"  required >
						</div>
					
					<div class="col-sm-3">
								Codigo:		
								<select class="form-control select2" ng-model="funcionarioCtrl.itemDiaria.codigoLocalDeslocamento" 
								ng-options="valor.deslocamento for valor in funcionarioCtrl.valoresDiaria">
									<option value=""></option>
								</select>													
							</div>
							<div class="col-sm-2">
						Transporte:
							<input class="form-control text-uppercase"  ng-model="funcionarioCtrl.itemDiaria.meioTransporte" id="destino" type="text"  required >
						</div>	
						<div class="col-sm-2">
						Data Saida:
							<input class="form-control" placeholder="Data diaria" ng-model="funcionarioCtrl.itemDiaria.dataHoraSaida" id="dataSaida" type="datetime-local"  required >
						</div>
							
						<div class="col-sm-2">
						data Chegada:
							<input class="form-control" placeholder="Data diaria" ng-model="funcionarioCtrl.itemDiaria.dataHoraChegada" id="dataChegada" type="datetime-local"  required >
						</div>
											
					</div>
					<br>
					<div  class="row">
						<div class="col-sm-2">
						qtd pernoite:
							<div class="row">
								<div class="col-sm-5">
									<input class="form-control col-sm-1"  ng-model="quantidadePernoite" 	id="qtdPernoite" type="number" >								
								</div>
								<div class="col-sm-7">
									<h4>{{funcionarioCtrl.pernoite = quantidadePernoite * funcionarioCtrl.itemDiaria.codigoLocalDeslocamento.pernoite | currency}}</h4>
								</div>
							</div>
						</div>
						<div class="col-sm-2">
						regresso das 13h às 19h:
							<div class="row">
								<div class="col-sm-5">
									<input class="form-control"  ng-model="quantidadeRetornoTrezeAsDezenove" id="qtdPernoite" type="number" >								
								</div>
								<div class="col-sm-7">
									<h4>{{funcionarioCtrl.retornoTrezeAsDezenove = quantidadeRetornoTrezeAsDezenove * funcionarioCtrl.itemDiaria.codigoLocalDeslocamento.retornoTrezeAsDezenove | currency}}</h4>
								</div>
							</div>
						</div>
						<div class="col-sm-2">
						regresso após às 19h:
							<div class="row">
								<div class="col-sm-5">
									<input class="form-control"  ng-model="quantidadeRetornoAposDezenove" id="qtdPernoite" type="number" >								
								</div>
								<div class="col-sm-7">
									<h4>{{funcionarioCtrl.retornoAposDezenove = quantidadeRetornoAposDezenove * funcionarioCtrl.itemDiaria.codigoLocalDeslocamento.retornoAposDezenove | currency}}</h4>
								</div>
							</div>
						</div>
						<div class="col-sm-2">
						de 6h a 12h:
							<div class="row">
								<div class="col-sm-5">
									<input class="form-control"  ng-model="quantidadeDeslocamentoSeisAsDoze" id="qtdPernoite" type="number" >								
								</div>
								<div class="col-sm-7">
									<h4>{{funcionarioCtrl.deslocamentoSeisAsDoze = quantidadeDeslocamentoSeisAsDoze * funcionarioCtrl.itemDiaria.codigoLocalDeslocamento.deslocamentoSeisAsDoze | currency}}</h4>
								</div>
							</div>
						</div>
						<div class="col-sm-2">
						regresso após às 19:00:
							<div class="row">
								<div class="col-sm-5">
									<input class="form-control"  ng-model="quantidadeDeslocamentoMaisDeDoze" id="qtdPernoite" type="number" >								
								</div>
								<div class="col-sm-7">
									<h4>{{funcionarioCtrl.deslocamentoMaisDeDoze = quantidadeDeslocamentoMaisDeDoze * funcionarioCtrl.itemDiaria.codigoLocalDeslocamento.deslocamentoMaisDeDoze | currency}}</h4>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div ng-show="funcionarioCtrl.itemDiaria.dataHoraChegada" class="row">
						<div class="col-sm-2">
						Valor da Passagem:
							<input class="form-control" placeholder="R$" ng-model="funcionarioCtrl.itemDiaria.valorPassagem" id="valorPassagem" type="text" ui-money-mask  >
						</div>	
						<div class="col-sm-6">
						Motivo:
						<textarea class="textarea text-uppercase form-control" ng-model="funcionarioCtrl.itemDiaria.motivo" id="motivo" placeholder="Motivo" required></textarea>
						</div>		
						<div ng-show="funcionarioCtrl.itemDiaria.motivo" class="col-sm-4" >
						<br>
								<input type="button" id="submit" value="Adicionar" ng-click="funcionarioCtrl.adicionaListaDiaria(funcionarioCtrl.itemDiaria)" class="btn btn-lg btn-primary btn-block btn-signin">
							</div>	
					<hr>	
					</div>
				
<br>
					<table ng-show="funcionarioCtrl.listaDiariaItens.length > 0" class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Selecionar</th>
								<th>Local</th>
								<th>Código Local</th>
								<th>Transporte</th>
								<th>Saída</th>
								<th>Retorno</th>
								<th>Motivo</th>
								<th>Passagem</th>
								<th>A Receber</th>
							</tr>
						</thead>
						<tbody ng-repeat="item in funcionarioCtrl.listaDiariaItens" ng-model="selecionado">
							<tr>
							<td><input type="checkbox"   ng-model="item.selecionado" ng-click="funcionarioCtrl.ativarExcluirLote(funcionarioCtrl.listaDiariaItens)" ></td>	
								<td>{{item.localDeslocamento}}</td>		
								<td>{{item.codigoLocalDeslocamento}}</td>	
								<td>{{item.meioTransporte}}</td>	
								<td>{{item.dataHoraSaida | date : 'dd/MM/yyyy - HH:mm'}}</td>	
								<td>{{item.dataHoraChegada | date : 'dd/MM/yyyy - HH:mm'}}</td>	
								<td>{{item.motivo}}</td>		
								<td>{{item.valorPassagem | currency}}</td>						
								<td>{{item.valorDiaria | currency}}</td>	
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th><input type="button" class="btn-danger" ng-if="ativadoExcluirLote"  value="excluir" name="apagar" ng-click="funcionarioCtrl.apagarItens(funcionarioCtrl.listaDiariaItens)"></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th>{{somaTotal | currency}}</th>
							</tr>
							</tfoot>
					</table>
					<br>
					<div class="row ">
					<div class="col-sm-4"></div>
						<div class="col-sm-4">		
							<input type="submit" id="submit" ng-disabled="funcionarioCtrl.listaDiariaItens < 1" value="salvar" class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
					</div>

				</form>
			</div>
		