<meta charset="UTF-8">

<div class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<input type="text" class="form-control"
				placeholder="Digite o nome ou qualquer número de documento"
				ng-model="texto" autofocus
				ng-keyup="$event.keyCode == 13 && ctrl.buscarPorTexto(texto)">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button"
					ng-click="ctrl.buscarPorTexto(texto)">buscar!</button>
			</span>
		</div>
		<!-- /input-group -->
	</div>
	<!-- /.col-lg-6 -->
</div>
<br>

<div ng-if="texto" class="padded" md-whiteframe="{{height}}" flex="100"
	flex-gt-sm="50" layout="column" layout-align="center center"
	ng-init="height = 1" ng-mouseenter="height = 3"
	ng-mouseleave="height = 1"
	ng-repeat="conta in ctrl.contaFuncionarioDiaria | filter: criterioDeBusca | orderBy: 'nome' ">
	<div class="row">
		<span ng-click="ctrl.cadastrarDiariaFuncionario(conta.funcionario)"
			class="btn btn-primary btn-flat"><h5>{{conta.funcionario.pessoa.nomeCompleto}}
				CPF: {{conta.funcionario.pessoa.cpf}}</h5></span>
	</div>
</div>
<br>
<br>
<div class="row">
	
		<span class="btn btn-success btn-flat col-sm-12"><h3>Diárias cadastradas</h3></span>
	
</div>
<br>
<div class="row">
	<div class="col-sm-3">
		<input class="form-control" placeholder="Pesquisar..." type="text" ng-model="buscar">
	</div>
</div>

<br>

<div class="padded" md-whiteframe="{{height}}" flex="100"
	flex-gt-sm="100" layout="column" layout-align="center right"
	ng-init="height = 1" ng-mouseenter="height = 3"
	ng-mouseleave="height = 1"
	ng-repeat=" diaria in ctrl.itens | filter : buscar |  orderBy : '-id'">
	 <md-card-actions layout="row" layout-align="home center">
	 <div class="col-sm-6">
	 	<md-button data-toggle="modal" title="Informações sobre esta diária." ng-model="diaria"  ng-click="ctrl.informacaoModal(diaria)"
			data-target="#informacaoModal"><h5>{{diaria.contaFuncionario.funcionario.pessoa.nomeCompleto }}</h5></md-button>
	 </div>
     <div class="col-sm-2">
   		<md-button><h5>CPF :{{diaria.contaFuncionario.funcionario.pessoa.cpf}}</h5></md-button>
     </div>     
     <div class="col-sm-2">
     	<md-button ui-sref="item.visualizar({idFuncionarioDiaria : diaria.id})"><h5>Valor total : {{diaria.totalValorDiaria | currency}}</h5></md-button>
     </div>     
     <div class="col-sm-2">
     	<md-button class="md-raised md-primary" title="Continuar lançando"	ng-click="ctrl.cadastrarDiariaFuncionario(diaria.contaFuncionario.funcionario )"><h5>Lançar</h5></md-button>
     </div>      
    </md-card-actions>

</div>

<!-- INICIO  modal do informaçoes da diaria -->
	<div class="modal fade bs-example-modal-lg modal-primary"
		id="informacaoModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="exampleModalLabel">Diária
						{{item.diaria.mes}}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<br>
						<div class="col-sm-12">
							<h3>Observação:</h3>
							<br>
							<h4>{{item.diaria.observacao}}</h4>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-6">
							<h3>Data Abertura:</h3>
							<br>
							<h4>{{item.diaria.dataAbertura | date : 'dd/MM/yyyy'}}</h4>
						</div>
						<div class="col-sm-6">
							<h3>Valor UFESP:</h3>
							<br>
							<h4>{{item.diaria.valorUfesp | currency}}</h4>
						</div>
					</div>
					<br>
					<hr>
					<div class="row">
						<div class="col-sm-6">
							<h3>lançamento realizado por:</h3>
							<br>
							<h4>{{item.usuarioCadastro.funcionario.pessoa.nomeCompleto}}</h4>
						</div>
						<div class="col-sm-6">
							<h3>Setor:</h3>
							<br>
							<h4>{{item.usuarioCadastro.funcionario.setorAtual.nome}}</h4>
						</div>
					</div>
					
					<br>
				</div>
				<div class="modal-footer ">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- FIM  modal do informaçoes da diaria -->
