<meta charset="UTF-8">
<div class="row">
<div class="col-sm-4">
	 <label>Lançar diária:</label>
	 <div class="input-group">
		  <input type="text" ng-model="conta" placeholder="Pesquisar por nome ou CPF"  
		    uib-typeahead="conta as conta.funcionario.pessoa.nomeCompleto for conta in ctrl.buscarPorTexto($viewValue) | limitTo:8" 
		    typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true"  
		    typeahead-loading="loading" typeahead-no-results="SemResultado" typeahead-min-length="3">
		    <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
		   
		    <span class="input-group-btn">
		<button class="btn btn-default" type="button" ui-sref="item.financasCadastrar({idDiaria : ctrl.diaria.id , idFuncionario : conta.funcionario.id})">ir!</button>
	</span>	 
	</div>
	    <div ng-show="SemResultado" class="alert alert-warning alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<h4>
				<i class="icon fa fa-warning"></i>{{messageErro}}
			</h4>
		</div>
</div>
</div>
<br>
<div class="row" align="center">
	<h1>{{ctrl.diaria.mes}}</h1>
</div>
<hr>
<br>
<div class="row">
	<div class="col-lg-4">
	 <label>Pesquisar lançamentos:</label>
		<div class="input-group">
			<input type="text" class="form-control"
				placeholder="Pesquisar por nome ou CPF"
				ng-model="texto" autofocus
				ng-keyup="$event.keyCode == 13 && ctrl.buscarDiariaFuncionarioPorTexto(texto, ctrl.diaria.id)">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button"
					ng-click="ctrl.paginaCorrente = 0; ctrl.buscarDiariaFuncionarioPorTexto(texto, ctrl.diaria.id)">Ir!</button>
			</span>
		</div>
	</div>
</div>
<div ng-show="mensagemErro"
	class="alert alert-warning alert-dismissible">
	<h4>
		<i class="icon fa fa-warning"></i>{{mensagemErro}}
	</h4>
</div>
<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th class="btn btn-primary btn-flat col-sm-2">Nome</th>
				<th class="btn btn-primary btn-flat col-sm-1">CPF</th>
				<th class="btn btn-primary btn-flat col-sm-2">Cargo</th>
				<th class="btn btn-primary btn-flat col-sm-2">Unidade</th>
				<th class="btn btn-primary btn-flat col-sm-1">Valor total</th>
				<th class="btn btn-primary btn-flat col-sm-1">Opções</th>
			</tr>
		</thead>
		<tbody
			ng-repeat=" diaria in ctrl.itens | filter : buscar |  orderBy : 'nomeFuncionario'">
			<tr>
				<td>
					<a href="" title="Visualizar todos os lançamentos!" ui-sref="item.visualizar({idFuncionarioDiaria : diaria.idDiaria})">	{{diaria.nomeFuncionario}}	
					</a>
				</td>
				<td>{{diaria.cpfFuncionario | cpf}}</td>
				<td>{{diaria.nomeCargo}}</td>
				<td>{{diaria.nomeUnidade}}</td>
				<td>
					<a href=""	 title="Visualizar todos os lançamentos!" ui-sref="item.visualizar({idFuncionarioDiaria : diaria.idDiaria})">
					{{diaria.totalValorDiaria | currency}}
					</a>
				</td>
				<td>
				 	<a href="" title="Continuar lançando"	ui-sref="item.financasCadastrar({idDiaria : ctrl.diaria.id , idFuncionario : diaria.idFuncionario})">Lançar</a>
     
				</td>
			</tr>
		</tbody>		
	</table>
	<nav>
		<ul uib-pagination total-items="ctrl.totalElementos" items-per-page="24"
			ng-model="ctrl.paginaCorrente" max-size="5" class="pagination-sm"
			boundary-link-numbers="true" ng-click="ctrl.buscarDiariaFuncionarioPorTexto(texto, ctrl.diaria.id)"
			previous-text="Anterior" last-text="Último" first-text="Primeiro"
			next-text="Próximo">
		</ul>
	</nav>
</div>
	<script type="text/ng-template" id="customTemplate.html">
  			<a>
      			<span ng-bind-html="match.model.funcionario.pessoa.nomeCompleto | uibTypeaheadHighlight:query"></span><br/>
	 			<span>CPF: {{match.model.funcionario.pessoa.cpf}}</span><br/>	
				<span>Setor: </span><br/>
				<span ui-sref="funcionarioContaDiaria.cadastrar({idFuncionario : match.model.id})">{{match.model.setorAtual.nome}}</span><br/>
  			</a>
		</script>
