  <meta charset="UTF-8">
  
  
<div class="panel-footer">

	<div class="row">
		<div class="col-sm-3">
			<h6>Coordenadoria de Unidades Prisionais da Região Central do Estado de São Paulo</h6>
		</div>
		<div class="col-sm-9">
		<form>
		<div class="row">
			<label class="control-label" id="contato">Contato</label>
		</div>
		<div class="row">
			<div class="col-sm-9">
				<input type="text" class="form-control" id="nome" placeholder="Nome" required>
			</div>
		</div>
			<br>			
		<div class="row">	
			<div  class="col-sm-9">
				<input type="email" class="form-control" id="email" placeholder="Email" required>
			</div>
		</div>	
			<br>
		<div class="row">
			<div class="col-sm-9">
				<textarea class=" form-control" rows="10" cols="50" id="menssangem" placeholder="Digite sua Mensagem" required></textarea>
			</div>
		</div>
			<br>
		<div class="row">
			<div class="col-sm-9">
				<input type="submit" class="form-control btn btn-primary" value="Enviar">
			</div>
		</div>
		</form>
		</div>
	</div>

</div>