<meta charset="UTF-8">    
        <div permission="['EQUIPAMENTO' , 'ADMIN']" class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>01</h3>
              <p>Equipamento</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="equipamento.ativo" class="small-box-footer">
              Avançar<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
        <div permission="['IP' , 'ADMIN']" class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>02</h3>
              <p>IP</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="ip.ativos" class="small-box-footer">
              Avançar<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
        <div permission="['PONTO' , 'ADMIN']" class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>03</h3>
              <p>Ponto</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="ponto.ativos" class="small-box-footer">
              Avançar<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
        <div permission="['SWITCH' , 'ADMIN']" class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>04</h3>
              <p>Switch</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="switch.ativos" class="small-box-footer">
              Avançar<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>