 <meta charset="UTF-8">
<br>
<br>
<div 	ng-controller="ipController as ipCtr">

	<div class="box box-primary" ng-init="ipCtr.lista()">
	
		<div class="box-header">
			<span class="lead">Lista de Ip</span>
		</div>
		<div class="panel-body table-responsive" ng-controller="tipoIpController as tipoIpCtrl" ng-init="tipoIpCtrl.lista()">
		<input class="form-control" type="text" ng-model="buscaIp" placeholder="Buscar...">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>numero</th>
						<th>tipo</th>
						<th>editar</th>
						
					</tr>
				</thead>
				<tbody
					 ng-repeat=" ip in ipCtr.listaIp | filter : buscaIp "> 
					<tr>
						<td>{{ ip.numero }}</td>
						<td><div class="row">
							<div class="col-sm-6"  >
								<select class="form-control select2" ng-model="ip.tipo" 
									ng-options="tipoIp.descricao for tipoIp in tipoIpCtrl.listaTipoIp" 
									
									  style=" width: 100%;" required >
										<option ng-value="ip.tipo" value="">{{ip.tipo.descricao}}</option>
									</select>
								</div>			
						
					</div></td>
						<td ><a class="btn btn-success" ng-click="ipCtr.altera(ip)">Alterar</a> 
						
					
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
</div>
