<meta charset="UTF-8">
<footer class="main-footer" >

	<div class="pull-right hidden-xs">Portal CRC</div>

	<strong>Copyright &copy; 2018 <a href="#">TIC Coordenadoria Central</a>.
	</strong> Todos direitos reservados.
    		
</footer>
<div>
<div permission="['CHAMADO_INFORMATICA_TECNICO' , 'ADMIN']" >
			<div  ng-show="false">
				<audio id="myAudio"  controls="controls"	height="5px" width="10px">
					<source src="/public/music/som.mp3" type="audio/mpeg" />
					<embed height="5px" width="10px" src="/public/music/som.mp3" />
				</audio>
			</div>
			</div>
			</div>