<meta charset="UTF-8">
<script type="text/javascript">
	function sendNum() {
		var num1 = document.getElementById('num1').value;
		var num2 = document.getElementById('num2').value;
		stompClient.send("/calcApp/add", {}, {});
	}
</script>
<header class="main-header navbar-fixed-top">		  
		    <a ui-sref="home.menu"class="logo navbar-fixed-top">    
		      <span class="logo-mini"><b>C</b>RC</span>      
		      <span class="logo-lg"><b>Portal</b>CRC</span>
		    </a>		    
		    <nav class="navbar  navbar-fixed-top" role="navigation">      
		      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
		        <span class="sr-only">Toggle navigation</span>
		      </a>
		       <div class="navbar-custom-menu">
		        <ul class="nav navbar-nav">		          
				 <li  class="dropdown messages-menu" permission="['CHAMADO_MANUTENCAO_TECNICO' , 'ADMIN']">
		                <a ui-sref="chamadoManutencao.suporteListar" title="Quantidade de Chamados Abertos para Manutenção" class="dropdown-toggle" data-toggle="dropdown">
		                  <i class="fa fa-envelope-o"></i>
		                  <span class="label label-success">{{qtdChamadoAbertoSuporteManutencao}}</span>
		                </a>					 		 
		          </li>
		           <li  class="dropdown messages-menu" permission="['CHAMADO_USUARIO' , 'ADMIN']">
		                <a ui-sref="chamadoManutencao.listar" title="Quantidade de Chamados Manutenção" class="dropdown-toggle" data-toggle="dropdown">
		                  <i class="fa fa-envelope-o"></i>
		                  <span class="label label-success">{{qtdChamadoAbertoManutencao}}</span>
		                </a>					 		 
		          </li>
		          <li  class="dropdown messages-menu" permission="['CHAMADO_INFORMATICA_TECNICO' , 'ADMIN']">
		                <a ui-sref="chamadoTi.suporteListar" title="Quantidade de Chamados Abertos para Informática" class="dropdown-toggle" data-toggle="dropdown">
		                  <i class="fa fa-envelope-o"></i>
		                  <span class="label label-success">{{qtdChamadosSuporteTi}}</span>
		                </a>					 		 
		          </li>
		           <li  class="dropdown messages-menu" permission="['CHAMADO_USUARIO' , 'ADMIN']">
		                <a ui-sref="chamadoTi.listar" title="Quantidade de Chamados Informática" class="dropdown-toggle" data-toggle="dropdown">
		                  <i class="fa fa-envelope-o"></i>
		                  <span class="label label-success">{{qtdChamadosTi}}</span>
		                </a>					 		 
		          </li>
		       <li class="dropdown user user-menu">
		                <a href="" class="dropdown-toggle" data-toggle="dropdown">
		                  <i class="glyphicon glyphicon-user"></i>
		                </a>
		                <ul class="dropdown-menu">
		                  <!-- User image -->
		                  <li class="user-header">
		                    <img ng-src="/rest/usuario/{{user.id}}/foto" class="img-circle" alt="User Image">
		                    <p>
		                     		{{user.funcionario.pessoa.nomeCompleto}}
		                      <small>{{user.funcionario.setorAtual.nome}}</small>
		                    </p>
		                  </li>                 
		                  <li class="user-footer">
		                    <div class="pull-left">
		                      <a href="" ui-sref="usuario.perfil"  class="btn btn-default btn-flat">Perfil</a>
		                    </div>
		                    <div  class="pull-right" permission="['ADMIN']">
		                      <a href=""  ng-click="userCtrl.buscaPorId(user.usuario.id)" data-toggle="modal" data-target="#alterarUnidade"  class="btn btn-default btn-flat">Alterar Unidade.</a>
		                    </div>
		                  </li>
		                </ul>
		              </li>
		              <li><a>Unidade : {{user.funcionario.unidadeAtual.dadosUnidade.mnemonico}}</a></li>          
         			<li>
						<a href="" ng-controller="LoginController"  ng-click="logout()"> Logout <i class="glyphicon glyphicon-log-out"></i>
						</a>
					</li>
		        </ul>
		      </div>
		    </nav>
		  </header>
		  
		  <!-- MODAL -->				
				<div  class="modal fade modal-primary" id="alterarUnidade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="UsuarioEditarController as userCtrl">
				  <div class="modal-dialog" role="document" >
				    <div class="modal-content" ng-controller="UsuarioEditarController as userCtrl">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Alterar Unidade</h4>
				      </div>
				      <div class="modal-body">				     		
					      <div class="row">
						      	<div  class="col-sm-12" >
									<select class="form-control " ng-model="unidade" 
										ng-options="unidades.dadosUnidade.nome group by unidades.tipoUnidade.descricao for unidades in userCtrl.unidades"
										style="width: 100%;" required>
										<option  value="">--selecione o Unidade--</option>
									</select>
								</div>		
					      </div>					       
				      </div>
				      <div class="modal-footer">
				        <button type="button" data-dismiss="modal" ng-click="userCtrl.alterarUnidade(unidade.id)" class="btn btn-primary">Alterar</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>				        
				      </div>
				    </div>
				  </div>
				</div>