<meta charset="UTF-8">
<aside class="main-sidebar">

	<section class="sidebar">

<!-- dados do usuario logado -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="public/template/img/avatar_2x.png" class="img-circle"
					alt="User Image">
			</div>
			<div class="pull-left info">
				<p>{{user.usuario.nome}}</p>
				<a href="#"><i class="glyphicon glyphicon-star-empty"></i> Online</a>
			</div>
		</div>


		<div>
		<ul class="sidebar-menu">
			<li class="header">MÓDULOS</li>
			<li class="treeview"><a href=""><i class=" glyphicon glyphicon-object-align-bottom"></i> <span>Unidade</span>
					<i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a class="top" href="#/unidade/cadastrar">cadastro</a></li>
						<li><a class="top" href="#/unidade/lista">lista</a></li>
					</ul>
				</li>
				
				<li class="treeview"><a href=""><i class=" glyphicon glyphicon-object-align-bottom"></i> <span>Usuario</span>
					<i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a class="top" href="#/usuario/cadastrar">cadastro</a></li>
						<li><a class="top" href="#/usuario/lista">lista</a></li>
					</ul>
				</li>
		
		</div>

	</section>


</aside>
