<meta charset="UTF-8">
<br>
<br>
<div	ng-controller="ramalController as ramalCtr">

	<div class="box box-primary" ng-init="ramalCtr.lista()">
	
		<div class="box-header"></div>
		<div  class="row">
			    <div class="col-sm-2">
			      <md-card>
			        <img ng-src="public/img/icones/telefone.png" class="md-card-image" alt="Washed Out">
			        <md-card-title>
			          <md-card-title-text>
			            <center><span class="md-headline">Contato Unidades</span></center>
			          </md-card-title-text>
			        </md-card-title>			    
			        <md-card-actions layout="row" layout-align="end center">
			          <md-button href="#/publico/telefones">Telefones</md-button>
			          <md-button href="#/publico/coordenadoria">Contato</md-button>
			        </md-card-actions>
			      </md-card>
			      </div>
			      <div class="col-sm-2">
			      <md-card>
			        <img ng-src="public/img/icones/suporte.png" class="md-card-image" alt="Washed Out">
			        <md-card-title>
			          <md-card-title-text>
			            <center><span class="md-headline">Chamado</span></center>
			          </md-card-title-text>
			        </md-card-title>			    
			        <md-card-actions layout="row" layout-align="end center">
			          <md-button href="#/chamado/informatica/cadastrar">T.I</md-button>
			          <md-button href="#/chamado/manutencao/cadastrar">Infra</md-button>
			        </md-card-actions>
			      </md-card>
			      
			      </div>
			      
			       <div class="col-sm-2">
			      <md-card>
			        <img ng-src="public/img/icones/images.jpg" class="md-card-image" alt="Washed Out">
			        <md-card-title>
			          <md-card-title-text>
			            <center><span class="md-headline">Controle de Ip</span></center>
			          </md-card-title-text>
			        </md-card-title>			    
			        <md-card-actions layout="row" layout-align="end center">
			          <md-button href="#/controleIp/ip/cadastrar">Cadastro</md-button>
			          <md-button href="#/controleIp/ip/lista">Pesquisa</md-button>
			        </md-card-actions>
			      </md-card>
			      
			      </div>
			      
			      <div class="col-sm-2">
			      <md-card>
			        <img ng-src="public/img/icones/financas.png" class="md-card-image" alt="Washed Out">
			        <md-card-title>
			          <md-card-title-text>
			           <center> <span class="md-headline">Diária</span></center>
			          </md-card-title-text>
			        </md-card-title>			    
			        <md-card-actions layout="row" layout-align="end center">
			          <md-button href="#/diaria/em-aberto">Nova</md-button>
			        </md-card-actions>
			      </md-card>
			      
			      </div>
	 </div>
			      
		</div>
		
	</div>
</div>


      
    

