<meta charset="UTF-8">

			<div class=" col-sm-12 ">
				<form role="form-vertical" name="formAtribuirConta"	ng-submit="contaCtrl.submit()">					
						
					
					<br>
					<div class="row">
						
						<div class="col-sm-6">
						Nome:
						<br>
								{{contaCtrl.funcionario.pessoa.nomeCompleto}}
						</div>
						<div class="col-sm-6">
						CPF:
						<br>
								{{contaCtrl.funcionario.pessoa.cpf}}
						</div>
					</div>
					
						<br>
					<div class="row">
						
						<div class="col-sm-3" >
						Banco:							
							<input class="form-control" placeholder="Banco" ng-model="contaCtrl.contaFuncionarioDiaria.banco" title="Digite o número do seu banco"  id="banco" type="text"  required >
						</div> 						
						<div class="col-sm-3">
						Agencia:
							<input class="form-control" placeholder="Agencia" ng-model="contaCtrl.contaFuncionarioDiaria.agencia" title="Digite o número da sua agência bancária" id="agencia"  type="text"  required >
						</div>
						<div class="col-sm-3">
						Conta:
							<input class="form-control" placeholder="Conta" ng-model="contaCtrl.contaFuncionarioDiaria.conta" title="Digite o número da sua conta bancária" id="conta" type="text"  required >
						</div>
						<div class="col-sm-3">
						Salário:
							<input class="form-control" placeholder="Salário atual" ng-model="contaCtrl.contaFuncionarioDiaria.salarioAtual" title="Digite o seu salário atual" id="conta" type="text" ui-money-mask required >
						</div>
						
					</div>
					
					<br>
					
					<div class="row">			
						<div class="col-sm-6">
								Indice UFESP:
								<h3>
								<select class="form-control select2" ng-model="indiceUfesp" title="Qual o indice de UFESP que o seu cargo se enquadra" ng-options="indice for indice in indices" >
								</select>
								</h3>
							</div>
							<div class="col-sm-6">
								Porcentagem do salário:
								<h3>
								<select class="form-control select2" ng-model="limiteCemPorCento" title="Escolha o limite maximo da sua diária"  ng-options="limite for limite in limites">
								</select>
								</h3>
							</div>
												
					</div>

					<hr>					
					
					<br>
					<div class="row ">
						<div class="col-sm-4"></div>
						<div class="col-sm-4">
							<input type="submit" id="submit" value="Salvar" ng-disabled="!indiceUfesp || !limiteCemPorCento"	class="btn btn-lg btn-primary btn-block btn-signin">
							</div>
					</div>

				</form>
			</div>
		