<meta charset="UTF-8">
<meta charset="UTF-8">
<div class="col-sm-4">
			 		<label>Cadastrar Nova Conta:</label>
			 <div class="input-group">
				  <input type="text" ng-model="funcionario" placeholder="Digite nome ou CPF"  
				    uib-typeahead="funcionario as funcionario.pessoa.nomeCompleto for funcionario in ctrl.buscarFuncionarioPorTexto($viewValue) | limitTo:8" 
				    typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true"  
				    typeahead-loading="loading" typeahead-no-results="SemResultado" typeahead-min-length="3">
				    <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
				    <div ng-show="SemResultado">
				      <i class="glyphicon glyphicon-remove"></i> Nenhum resultado encontrado
				    </div>
				    <span class="input-group-btn">
				<button class="btn btn-default" type="button" ui-sref="funcionarioContaDiaria.cadastrar({idFuncionario : funcionario.id})">ir!</button>
			</span>
			</div>
</div>
<br>
<br><br>
<br>
<div class="row">

		<span class="btn btn-primary btn-flat col-sm-12">Contas cadastradas</span>
	
</div>
<br>
<div class="row">
	<div class="col-lg-4">
		<label>Pesquisar contas:</label>
		<div class="input-group">
			<input type="text" class="form-control"
				placeholder="Pesquisar por nome ou CPF"
				ng-model="texto" autofocus
				ng-keyup="$event.keyCode == 13 && ctrl.buscarPorTexto(texto)">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button"
					ng-click="ctrl.paginaCorrente = 0; ctrl.buscarPorTexto(texto)">Ir!</button>
			</span>
		</div>
	</div>
</div>
<div ng-show="mensagemErro"
	class="alert alert-warning alert-dismissible">
	<h4>
		<i class="icon fa fa-warning"></i>{{mensagemErro}}
	</h4>
</div>
<div class=" table-responsive"  >	
<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Banco</th>
						<th>Agencia</th>
						<th>Conta</th>
						<th>Ufesp</th>
						<th>Limite</th>
						<th>Editar</th>
					</tr>
				</thead>
				<tbody 	ng-repeat=" conta in ctrl.contas | filter : buscar">
					<tr>
						<td>{{ conta.funcionario.pessoa.nomeCompleto }}</td>
						<td>{{ conta.banco }}</td>
						<td>{{ conta.agencia}}</td>
						<td>{{ conta.conta }}</td>
						<td>{{ conta.indiceUfesp}}</td>
						<td>{{ conta.limiteCemPorCento}}</td>
						<td><a title="Alterar dados da conta!" ui-sref="funcionarioContaDiaria.editar({idConta : conta.id})"><i class="glyphicon glyphicon-edit"></i></a>
					</tr>							
				</tbody>
				<tfoot>
					<tr>
					

					</tr>
				</tfoot>
			</table>
				<nav>
				<ul uib-pagination total-items="ctrl.totalElementos" items-per-page="24"
					ng-model="ctrl.paginaCorrente" max-size="5" class="pagination-sm"
					boundary-link-numbers="true" ng-click="ctrl.buscarPorTexto(texto)"
					previous-text="Anterior" last-text="Último" first-text="Primeiro"
					next-text="Próximo">
				</ul>
			</nav>
		</div>
		<script type="text/ng-template" id="customTemplate.html">
  			<a>
      			<span ng-bind-html="match.model.pessoa.nomeCompleto | uibTypeaheadHighlight:query"></span><br/>
	 			<span>CPF: {{match.model.pessoa.cpf}}</span><br/>	
				<span>Setor: </span><br/>
				<span ui-sref="funcionarioContaDiaria.cadastrar({idFuncionario : match.model.id})">{{match.model.setorAtual.nome}}</span><br/>
  			</a>
		</script>