<meta charset="UTF-8">

			<div class=" col-sm-12 ">
				<form role="form-vertical" name="formAtribuirConta"	ng-submit="contaCtrl.submit()">					
						
					
					<br>
					<div class="row">
						
						<div class="col-sm-3">
						Nome:
						<br>
								{{contaCtrl.funcionario.pessoa.nomeCompleto}}
						</div>
						<div class="col-sm-2">
						CPF:
						<br>
								{{contaCtrl.funcionario.pessoa.cpf}}
						</div>
					</div>
					
						<br>
					<div class="row">
						
						<div class="col-sm-2" >
						Banco:							
							<input class="form-control" placeholder="Banco" ng-model="contaCtrl.contaFuncionarioDiaria.banco" id="banco" type="text"  required >
						</div> 						
						<div class="col-sm-2">
						Agencia:
							<input class="form-control" placeholder="Agencia" ng-model="contaCtrl.contaFuncionarioDiaria.agencia" id="agencia" type="text"  required >
						</div>
						<div class="col-sm-2">
						Conta:
							<input class="form-control" placeholder="Conta" ng-model="contaCtrl.contaFuncionarioDiaria.conta" id="conta" type="text"  required >
						</div>
						<div class="col-sm-2">
						Salário:
							<input class="form-control" placeholder="Salário atual" ng-model="contaCtrl.contaFuncionarioDiaria.salarioAtual" id="conta" type="text" ui-money-mask required >
						</div>
						
					</div>
					
					<br>
					
					<div class="row">			
						<div class="col-sm-2">
								Indice UFESP:
								<h3>
								<select class="form-control select2" ng-model="contaCtrl.contaFuncionarioDiaria.indiceUfesp" >
									<option ng-value="contaCtrl.contaFuncionarioDiaria.indiceUfesp" value="">{{contaCtrl.contaFuncionarioDiaria.indiceUfesp}}</option>
									<option value="7">7</option>
									<option value="9">9</option>
								</select>
								</h3>
							</div>
							<div class="col-sm-2">
								Porcentagem do salário:
								<h3>
								<select class="form-control select2" ng-model="contaCtrl.contaFuncionarioDiaria.limiteCemPorCento"  >
									<option ng-value="contaCtrl.contaFuncionarioDiaria.limiteCemPorCento" value=""> {{contaCtrl.contaFuncionarioDiaria.limiteCemPorCento}}</option>
									<option value="100">100%</option>
									<option value="50">50%</option>
								</select>
								</h3>
							</div>
												
					</div>

					<hr>					
					
					<br>
					<div class="row ">
						<div class="col-sm-4"></div>
						<div class="col-sm-4">
							<input type="submit" id="submit" value="Salvar" ng-disabled="!contaCtrl.contaFuncionarioDiaria.indiceUfesp || !contaCtrl.contaFuncionarioDiaria.limiteCemPorCento"	class="btn btn-lg btn-primary btn-block btn-signin">
							</div>
					</div>

				</form>
			</div>
		