<meta charset="UTF-8">

			<div class=" col-sm-12 ">
				<form role="form-vertical" name="formAtribuirUnidade"
					ng-submit="ctrl.submit()">					
						
					
					<br>
					<div class="row">
						
						<div class="col-sm-4">
						Nome:
								<strong>{{ctrl.funcionario.pessoa.nomeCompleto}}</strong>
						</div>
						<div class="col-sm-3">
						CPF:
								<strong>{{ctrl.funcionario.pessoa.cpf}}</strong>
						</div>
						<div class="col-sm-5" ng-show="ctrl.funcionario.unidadeAtual != null">
						Unidade Atual:
								<strong>{{ctrl.funcionario.unidadeAtual.dadosUnidade.mnemonico}}</strong>
						</div>
					</div>
					
						<br>
					<div class="row">
						
						<div class="col-sm-4" >
						Status:
							<select class="form-control select2"  ng-model="ctrl.funcionarioUnidade.status" ng-options="status for status in ctrl.status track by status"  style="width: 100%;">
							</select>
						</div> 
						
						<div class="col-sm-2">
						Data Inclusão:
							<input class="form-control" placeholder="Data inclusão"  ng-model="ctrl.funcionarioUnidade.dataCadastro" id="dataAdmissao" type="date" required >
						</div>
						
					</div>
					
					<br>
					
					<div class="row">			
						<div class="col-sm-3">
						Cargo:
							<select class="form-control select2" ng-model="ctrl.funcionarioUnidade.cargo" ng-options="cargo.descricao for cargo in ctrl.cargos track by cargo.id"  style="width: 100%;">
							</select>
						</div>	
						<div class="col-sm-3" >
						Função:
							<select class="form-control select2" ng-model="ctrl.funcionarioUnidade.funcao" ng-options="funcoes.descricao for funcoes in ctrl.funcao track by funcao.id"  style="width: 100%;">
							</select>
						</div>
						<div class="col-sm-3" >
						Setor:
							<select class="form-control select2" ng-model="ctrl.funcionarioUnidade.setor" ng-options="setor.nome for setor in ctrl.setores track by setor.id"  style="width: 100%;">
							</select>
						</div>								
					</div>

					<hr>					
					
					<br>
					<div class="row ">
						<div class="col-sm-4"></div>
						<div class="col-sm-4">
							<input type="submit" id="submit" value="{{botao}}"	class="btn btn-lg btn-primary btn-block btn-signin">
							</div>
					</div>

				</form>
				<br><hr>
				<br>
			
			
			<div>
			<div class=" table-responsive"  >	
			Últimas Atualizações
				
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
					<th >Unidade </th>
					<th >Cargo</th>
					<th >Setor</th>
					<th >Função </th>
					<th >Status </th>
					<th >Data </th>
					<th >Opções</th>
						
					</tr>
				</thead>
				<tbody
					ng-repeat=" funcionarioUnidade in ctrl.funcionarioUnidades | filter : buscar">
					<tr>
						<td>{{ funcionarioUnidade.unidade.dadosUnidade.mnemonico }}</td>
						<td>{{ funcionarioUnidade.cargo.descricao}}</td>
						<td>{{ funcionarioUnidade.setor.nome }}</td>
						<td>{{ funcionarioUnidade.funcao.descricao}}</td>
						<td>{{ funcionarioUnidade.status}}</td>
						<td>{{ funcionarioUnidade.dataCadastro | date : 'dd/MM/yyyy'}} </td>
						<td class="text-center" ng-if="funcionarioUnidade.unidade.id === usuario.funcionario.unidadeAtual.id">
							<a title="Editar Funcionario" ui-sref="funcionarioUnidade.editar({idFuncionarioUnidade : funcionarioUnidade.id})">
							<i class="glyphicon glyphicon-edit"></i></a>&nbsp;&nbsp;&nbsp;
						</td>
					</tr>							
				</tbody>
				<tfoot>
					<tr>
					

					</tr>
				</tfoot>
			</table>
		</div>
			</div>
		</div>