 <meta charset="UTF-8">
<br>
<br>
<div 	ng-controller="equipamentoController as equipamentoCtrl">

	<div class="box box-primary" ng-init="equipamentoCtrl.lista()">
	
		<div class="box-header">
			<span class="lead">Lista de Equipamentos</span>
		</div>
		<div class="panel-body table-responsive">
		<input class="form-control" type="text" ng-model="buscaEquipamento" placeholder="Buscar">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Descricao</th>
						<th>Patrimonio</th>
						<th>Ip</th>
						<th>TipoEquipamento</th>
						<th>numero</th>
						
						<th ng-if="role_cadastrar_equipamento">Opções</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" equipamento in equipamentoCtrl.listaEquipamento | filter : buscaEquipamento ">
					<tr>
						<td>{{ equipamento.descricao }}</td>
						<td>{{ equipamento.patrimonio }}</td>
						<td>{{ equipamento.ip.numero}}</td>
						<td>{{ equipamento.tipoEquipamento}}</td>
						<td>{{ equipamento.ponto.numero}}</td>
						
																	
						
						<td ><a href="#/controleIp/equipamento/editar/{{equipamento.id}}"><button type="button" class="btn btn-success center-block">Alterar</button></a>
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
</div>
