<meta charset="UTF-8">
		<div class="panel-body table-responsive">
		<input class="form-control" type="text" ng-model="buscaUsuario" placeholder="Buscar">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Login</th>
						<th>Funcionario</th>
						<th>Unidade</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody	ng-repeat=" user in usuarioCtrl.usuarios | filter : buscaUsuario ">
					<tr>
						<td>{{ user.login }}</td>
						<td>{{ user.funcionario.pessoa.nomeCompleto}}</td>
						<td>{{ user.unidade.dadosUnidade.mnemonico}}</td>
						<td><a ui-sref="usuario.editar({idUsuario : user.id})"><i class="glyphicon glyphicon-edit"></i></a> 						
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	

