<meta charset="UTF-8">

			<div class="container col-sm-12 ">
				<form role="form-vertical"	ng-submit="usuarioCtrl.submit()">
				<br>
				<div class="row">					
						<div class="col-sm-4">
						<label>Funcionario:</label><br>
						{{usuarioCtrl.usuario.funcionario.pessoa.nomeCompleto}}							
						</div>				
							
					<div>	
						<div class="col-sm-8" >
						<label>Unidade:</label><br>
								{{usuarioCtrl.usuario.funcionario.unidadeAtual.dadosUnidade.nome}}	
							</div>		
						</div>	
					</div>							
								
					<br>
					<div class="row" >
						<div class="col-sm-4">
						<label>Usuario:</label>
							<input type="text" class="form-control" id="nome" ng-model="usuarioCtrl.usuario.login" ng-blur="usuarioCtrl.existeLogin(usuarioCtrl.usuario.login)" placeholder="Usuário"
								title="Nome de usuario" maxlength="15"	required>
						</div>						
					
	
						<div class="col-sm-4">
						<label>Senha:</label>
							<input type="password" class="form-control" id="senha" ng-model="usuarioCtrl.senha" placeholder="Senha"
								title="Digite uma senha"maxlength="12" required>
						</div>
						<div class="col-sm-4">
						<label>Repita a Senha:</label>
							<input type="password" class="form-control" id="repitaSenha" ng-model="usuarioCtrl.senhaRepitida" placeholder="Repita a Senha"
								title="repita a senha" required>
						</div>
						
					</div>
					<br> <br>
					
					<div class="row ">
					<div class="col-sm-4"></div>
							<div class="col-sm-3">
								<button type="submit" name="submit" class="btn btn-lg btn-primary btn-block btn-signin">Editar</button>
							
							</div>
						</div>
						
				
				</form>
				
			</div>
		