<meta charset="UTF-8">

<div class="container col-sm-12 ">
	<form role="form-vertical" ng-submit="ctrl.submit()">


		<div class="row">
			<div class="col-xs-12">
				<h3>Dados Pessoais do Usuario</h3>
			</div>
			<div class="col-sm-2">
				<div class="pull-left image">
				<img ng-src="/rest/usuario/{{ctrl.usuario.id}}/foto"
				  class="thumbnail col-sm-12"  alt="User Image">
			</div>
			</div>
			<div class="col-xs-4">
				<div class="row">
					Funcionario: {{ctrl.usuario.funcionario.pessoa.nomeCompleto}}<br>
					<br> Email Usuario: {{ctrl.usuario.funcionario.pessoa.email}}<br>
					<br> Login: {{ctrl.usuario.login}}<br>
					<br> Data de Cadastro: {{ctrl.usuario.dataCadastro | date
					:'dd/MM/yyyy'}}<br>
					<br> Unidade: {{ctrl.usuario.funcionario.unidadeAtual.dadosUnidade.nome}}
				</div>
				<br>
			</div>
		</div>


		<br> <br> <br> <br>
		<div permission="['ADMIN']">
			<div class="row">
					<h3>
						<span class=" col-sm-12 form-control label label-danger">ADMIN 
							</span>
					</h3>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-4 col-sm-3"
						ng-repeat="permissao in ctrl.permissoes">
						<label class="checkbox-inline" ng-show="permissao.modulo == 'ADMIN'"><input type="checkbox" 
							data-checklist-model="ctrl.usuario.permissoes"
							data-checklist-value="permissao">{{permissao.descricao}}</label>
					</div>
				</div>
		</div>
			<div class="row">
				<h3>
					<span class=" col-sm-12 form-control label label-warning">Gerenciamento 
						</span>
				</h3>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-4 col-sm-3"
					ng-repeat="permissao in ctrl.permissoes">
					<label class="checkbox-inline" ng-show="permissao.modulo == 'GERENCIAMENTO'"><input type="checkbox" 
						data-checklist-model="ctrl.usuario.permissoes"
						data-checklist-value="permissao">{{permissao.descricao}}</label>
				</div>
			</div>
			<br>
			<div class="row">
				<h3>
					<span class=" col-sm-12 form-control label label-primary">Comunicação 
						</span>
				</h3>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-4 col-sm-3"
					ng-repeat="permissao in ctrl.permissoes">
					<label class="checkbox-inline" ng-show="permissao.modulo == 'COMUNICACAO'"><input type="checkbox" 
						data-checklist-model="ctrl.usuario.permissoes"
						data-checklist-value="permissao">{{permissao.descricao}}</label>
				</div>
			</div>
			<br>
			<div class="row">
				<h3>
					<span class=" col-sm-12 form-control label label-primary">Chamado 
						</span>
				</h3>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-4 col-sm-3"
					ng-repeat="permissao in ctrl.permissoes">
					<label class="checkbox-inline" ng-show="permissao.modulo == 'CHAMADO'"><input type="checkbox" 
						data-checklist-model="ctrl.usuario.permissoes"
						data-checklist-value="permissao">{{permissao.descricao}}</label>
				</div>
			</div>
			<br>
			<div class="row">
				<h3>
					<span class=" col-sm-12 form-control label label-primary">Controle IP 
						</span>
				</h3>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-4 col-sm-3"
					ng-repeat="permissao in ctrl.permissoes">
					<label class="checkbox-inline" ng-show="permissao.modulo == 'CONTROLE_IP'"><input type="checkbox" 
						data-checklist-model="ctrl.usuario.permissoes"
						data-checklist-value="permissao">{{permissao.descricao}}</label>
				</div>
			</div>
			<br>
			<div class="row">
				<h3>
					<span class=" col-sm-12 form-control label label-primary">Infraestrutura</span>
				</h3>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-4 col-sm-3"
					ng-repeat="permissao in ctrl.permissoes">
					<label class="checkbox-inline" ng-show="permissao.modulo == 'INFRAESTRUTURA'"><input type="checkbox" 
						data-checklist-model="ctrl.usuario.permissoes"
						data-checklist-value="permissao">{{permissao.descricao}}</label>
				</div>
			</div>
			<br>
			<div class="row">
				<h3>
					<span class=" col-sm-12 form-control label label-primary">Fincanças 
						</span>
				</h3>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-4 col-sm-3"
					ng-repeat="permissao in ctrl.permissoes">
					<label class="checkbox-inline" ng-show="permissao.modulo == 'FINANCAS'"><input type="checkbox" 
						data-checklist-model="ctrl.usuario.permissoes"
						data-checklist-value="permissao">{{permissao.descricao}}</label>
				</div>
			</div>
			<br>
			<div class="row">
				<h3>
					<span class=" col-sm-12 form-control label label-primary">Recursos Humanos 
						</span>
				</h3>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-4 col-sm-3"
					ng-repeat="permissao in ctrl.permissoes">
					<label class="checkbox-inline" ng-show="permissao.modulo == 'RECURSOS_HUMANOS'"><input type="checkbox" 
						data-checklist-model="ctrl.usuario.permissoes"
						data-checklist-value="permissao">{{permissao.descricao}}</label>
				</div>
			</div>
			<br>
			<br> <br>
					
					<div class="row ">
					<div class="col-sm-4"></div>
							<div class="col-sm-3">
								<button type="submit" name="submit" class="btn btn-lg btn-primary btn-block btn-signin">Cadastrar</button>
							
							</div>
						</div>
						
			
	</form>

</div>
<div class="tablecontainer"></div>
