<meta charset="UTF-8">   
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>01</h3>
              <p>Telefones</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="telefone.cadastrar" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>02</h3>
              <p>Ramal</p>
            </div>
            <div class="icon">
              <i class="fa fa-bank "></i>
            </div>
            <a ui-sref="ramal.cadastrar" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>