<meta charset="UTF-8">
<div class="container col-sm-12 ">
	<form role="formC-vertical" name="formC" novalidate	ng-submit="chamadoCtrl.submit(formC)">
		<div class="row">
			<div class="col-sm-4" ng-class="{ 'has-error' : formC.prioridadeId.$invalid && formC.$submitted }">
				Prioridade: <select class="form-control " 
					ng-model="chamadoCtrl.chamadoTi.prioridade" id="prioridadeId" name="prioridadeId"
					ng-options="prioridade for prioridade in chamadoCtrl.prioridades" required>
					<option value="">Prioridade</option>
				</select>
			</div>
			<div class="col-sm-4"  ng-class="{ 'has-error' : formC.tipo.$invalid && formC.$submitted }">
				Tipo : <select class="form-control "
					ng-model="chamadoCtrl.chamadoTi.tipoEquipamento" id="tipo" name="tipo" ng-change="chamadoCtrl.buscarTema(chamadoCtrl.chamadoTi.tipoEquipamento)"
					ng-options="tipoEquipamento for tipoEquipamento in chamadoCtrl.tipoEquipamentos" required>
					<option value="">Tipo</option>
				</select>
			</div>
		</div>
		<br> <br>
		<div class="row">
			<div ng-if="chamadoCtrl.chamadoTi.tipoEquipamento == 'COMPUTADOR' || chamadoCtrl.chamadoTi.tipoEquipamento == 'IMPRESSORA' "
				class="col-sm-4"  ng-class="{ 'has-error' : formC.titulo.$invalid && formC.$submitted }">
				Titulo: <select class="form-control select2" name="titulo"
					ng-model="chamadoCtrl.chamadoTi.titulo" id="titulo"
					ng-options="titulo.descricao for titulo in chamadoCtrl.titulos" required>
					<option value="">Titulo</option>
				</select>
			</div>			
			<div class="col-sm-3" ng-if="chamadoCtrl.chamadoTi.tipoEquipamento === 'SISTEMA'">
			Sistema:
				<select class="form-control select2" ng-model="chamadoCtrl.sistema"
					id="secretariaId" ng-options="sistema.descricao for sistema in chamadoCtrl.sistemas"
					ng-change="chamadoCtrl.modulos(chamadoCtrl.sistema.id)">
				</select>
			</div>
			<div class="col-sm-3" ng-if="chamadoCtrl.chamadoTi.tipoEquipamento === 'SISTEMA' && chamadoCtrl.sistema">
			Módulo:
				<select class="form-control select2" ng-model="chamadoCtrl.modulo"
					id="secretariaId" ng-options="modulo.descricao for modulo in chamadoCtrl.moduloList"
					ng-change="chamadoCtrl.buscarTituloPorModulo(chamadoCtrl.modulo.id)">
				</select>
			</div>
			<div class="col-sm-3" ng-if="chamadoCtrl.chamadoTi.tipoEquipamento === 'SISTEMA' &&  chamadoCtrl.modulo"
			 ng-class="{ 'has-error' : formC.titulo.$invalid && formC.$submitted }">
			Titulo:
				<select class="form-control select2" name="titulo"
					ng-model="chamadoCtrl.chamadoTi.titulo" id="titulo"
					ng-options="titulo.descricao for titulo in chamadoCtrl.titulos" required>
					<option value="">Titulo</option>
				</select>
			</div>
		</div>
		<br>
		<div class="row">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Descreva o problema</h3>
            </div>
            <div class="box-body">
              <div class="formC-group">
                    <textarea  ng-class="{ 'has-error' : formC.texto.$invalid && formC.$submitted }"
                     id="texto"  name="texto" class=" col-sm-8" ng-model="chamadoCtrl.chamadoTi.texto" style="height: 300px" required></textarea>
                   <div class="col-sm-4" flow-init="{singleFile:true}"
					flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
					class="ng-scope" flow-name="obj.flow">					
						<div class="thumbnail ng-hide" ng-show="$flow.files.length">
							<img flow-img="$flow.files[0]">
						</div>
						<div class="row" ng-show="$flow.files.length">
							<div class="col-sm-12">
								<p>Tamanho máximo permitido: 131072 kb</p>
								<p>Tamanho da imagem: {{$flow.files[0].size}} kb</p>
								<div class="alert alert-danger" role="alert"
									ng-show="$flow.files[0].size > 131072 ">A imagem está maior
									que o permitido</div>
							</div>
						</div>
						<div>
						<div class="form-group">
			                <div class="btn btn-default btn-file" ng-show="!$flow.files.length" flow-btn="">
			                  <i class="fa fa-paperclip"></i> arquivo
			                  <input type="file" name="attachment" >
			                </div>
			                <span
								class="btn btn-info ng-hide" ng-show="$flow.files.length"
								flow-btn="">Trocar<input type="file"
								style="visibility: hidden; position: absolute;">
							</span> 
							<span
								class="btn btn-danger ng-hide" ng-show="$flow.files.length"
								ng-click="$flow.cancel()"> Remover
							</span>
			              </div>
						</div>							
					</div>
              </div>              
            </div>
            <div class="box-footer">
              <div class="pull-right">
                <button type="submit" class="btn btn-primary" ng-disabled="obj.flow.files[0].size > 131072 "><i class="fa fa-envelope-o"></i> Enviar</button>
              </div><!-- 
              <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discartar</button> -->
            </div>
          </div>
        </div>
		<br>
	</form>
</div>