<meta charset="UTF-8">
<div class="container col-sm-12 ">
	<form role="form-vertical" name="formSecretaria"
		ng-submit="chamadoCtrl.submit()">

		<div class="row">
			<div class="col-sm-4">
				Prioridade: <select class="form-control "
					ng-model="chamadoCtrl.chamadoTi.prioridade" id="prioridadeId"
					ng-options="prioridade for prioridade in chamadoCtrl.prioridades">
					<option value="">Prioridade</option>
				</select>
			</div>
			<div class="col-sm-4">
				Tipo : <select class="form-control "
					ng-model="chamadoCtrl.chamadoTi.tipoEquipamento" id="tipo" ng-change="chamadoCtrl.buscarTema(chamadoCtrl.chamadoTi.tipoEquipamento)"
					ng-options="tipoEquipamento for tipoEquipamento in chamadoCtrl.tipoEquipamentos">
					<option value="">Tipo</option>
				</select>
			</div>
		</div>
		<br> <br>
		<div class="row">
			<div ng-if="chamadoCtrl.chamadoTi.tipoEquipamento == 'COMPUTADOR' || chamadoCtrl.chamadoTi.tipoEquipamento == 'IMPRESSORA' "
				class="col-sm-4">
				Titulo: <select class="form-control select2"
					ng-model="chamadoCtrl.chamadoTi.titulo" id="titulo"
					ng-options="titulo.descricao for titulo in chamadoCtrl.titulos">
					<option value="">Titulo</option>
				</select>
			</div>			
			<div class="col-sm-3" ng-if="chamadoCtrl.chamadoTi.tipoEquipamento === 'SISTEMA'">
			Sistema:
				<select class="form-control select2" ng-model="chamadoCtrl.sistema"
					id="secretariaId" ng-options="sistema.descricao for sistema in chamadoCtrl.sistemas"
					ng-change="chamadoCtrl.modulos(chamadoCtrl.sistema.id)">
				</select>
			</div>
			<div class="col-sm-3" ng-if="chamadoCtrl.chamadoTi.tipoEquipamento === 'SISTEMA' && chamadoCtrl.sistema">
			Módulo:
				<select class="form-control select2" ng-model="chamadoCtrl.modulo"
					id="secretariaId" ng-options="modulo.descricao for modulo in chamadoCtrl.modulos"
					ng-change="chamadoCtrl.buscarTituloPorModulo(chamadoCtrl.modulo.id)">
				</select>
			</div>
			<div class="col-sm-3" ng-if="chamadoCtrl.chamadoTi.tipoEquipamento === 'SISTEMA' &&  chamadoCtrl.modulo">
			Titulo:
				<select class="form-control select2"
					ng-model="chamadoCtrl.chamadoTi.titulo" id="titulo"
					ng-options="titulo.descricao for titulo in chamadoCtrl.titulos">
					<option value="">Titulo</option>
				</select>
			</div>
		</div>
		<br>
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Escreva o Problema</h3>
			</div>
			<div class="box-body pad">
				<div class="form-group">
					<textarea froala="froalaOptions"  placeholder="Texto" ng-model="texto"
						class="form-control" style="height: 300px"></textarea>
				</div>
			</div>
		</div>	
	<br>
	<br>
		<div class="row ">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<input type="submit" id="submit"
					ng-disabled="!texto || !chamadoCtrl.chamadoTi.titulo ||  !chamadoCtrl.chamadoTi.prioridade"
					value="Enviar" class="btn btn-lg btn-primary btn-block btn-signin">
			</div>
		</div>


	</form>
</div>