<meta charset="UTF-8">
<div class="container col-sm-12 ">
	<form role="form-vertical" name="formSecretaria"
		ng-submit="chamadoCtrl.submit()">

		<div class="row">
			<div class="col-sm-4">
				Prioridade: <select class="form-control "
					ng-model="chamadoCtrl.chamadoTi.prioridade" id="prioridadeId"
					ng-options="prioridade for prioridade in chamadoCtrl.prioridades">
					<option value="">Prioridade</option>
				</select>
			</div>
			<div class="col-sm-4">
				Tipo : <select class="form-control "
					ng-model="chamadoCtrl.chamadoTi.tipoEquipamento" id="tipo"
					ng-options="tipoEquipamento for tipoEquipamento in chamadoCtrl.tipoEquipamentos">
					<option value="">Tipo</option>
				</select>
			</div>
		</div>
		<br> <br>
		<div class="row">
			<div ng-if="chamadoCtrl.chamadoTi.tipoEquipamento == 'COMPUTADOR'"
				class="col-sm-4">
				Titulo: <select class="form-control select2"
					ng-model="chamadoCtrl.chamadoTi.titulo" id="titulo"
					ng-options="titulo for titulo in chamadoCtrl.titulos">
					<option value="">Titulo</option>
				</select>
			</div>
			<div ng-if="chamadoCtrl.chamadoTi.tipoEquipamento == 'IMPRESSORA'"
				class="col-sm-4" ng-init="chamadoCtrl.tituloImpressora()">
				Titulo: <select class="form-control "
					ng-model="chamadoCtrl.chamadoTi.titulo" id="tituloImpressora"
					ng-options="tituloImpressora for tituloImpressora in chamadoCtrl.tituloImpressoras">
					<option value="">Titulo</option>
				</select>
			</div>
			<div ng-if="chamadoCtrl.chamadoTi.tipoEquipamento == 'SISTEMA'"
				class="col-sm-4" ng-init="chamadoCtrl.tituloImpressora()">
				Sistema: <select class="form-control "
					ng-model="chamadoCtrl.chamadoTi.titulo" id="tituloImpressora"
					ng-options="tituloImpressora for tituloImpressora in chamadoCtrl.tituloImpressoras">
					<option value="">Sistema</option>
				</select>
			</div>
		</div>
		<br>
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Escreva o Problema</h3>
			</div>
			<div class="box-body pad">
				<div class="form-group">
					<textarea id="compose-textarea" placeholder="Texto" ng-model="texto"
						class="form-control" style="height: 300px"></textarea>
				</div>
			</div>
		</div>

		<br> <br>
		<div class="row">
		<div class="col-sm-6" flow-init="{singleFile:true}"
			flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
			class="ng-scope" flow-name="obj.flow">						
			<div class="thumbnail ng-hide" ng-show="$flow.files.length">
				<img flow-img="$flow.files[0]">
			</div>
			<div>
				<span class="btn btn-primary" ng-show="!$flow.files.length"
					flow-btn="">Selecionar imagem<input type="file"
					style="visibility: hidden; position: absolute;"></span> <span
					class="btn btn-info ng-hide" ng-show="$flow.files.length"
					flow-btn="">Trocar<input type="file"
					style="visibility: hidden; position: absolute;"></span> <span
					class="btn btn-danger ng-hide" ng-show="$flow.files.length"
					ng-click="$flow.cancel()"> Remover </span>
			</div>
		</div>
	</div>
	<br>
	<br>
		<div class="row ">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<input type="submit" id="submit"
					ng-disabled="!texto || !chamadoCtrl.chamadoTi.titulo ||  !chamadoCtrl.chamadoTi.prioridade"
					value="Enviar" class="btn btn-lg btn-primary btn-block btn-signin">
			</div>
		</div>


	</form>
</div>
<script>
	$(function() {
		//Add text editor
		$("#compose-textarea").wysihtml5();
	});
</script>
