<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"
	ng-controller="chamadoTiController as chamadoCtr">

	<div class="box box-primary" ng-init="chamadoCtr.listaUsuario()">
	
		<div class="box-header">
			<span class="lead">Lista de Chamados Tecnologia da Informação</span>
		</div>
		<div class="panel-body">
		 <table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>
							<input class="form-control" type="text" ng-model="buscaCoordenadoria" placeholder="Titulo">
				  		</th>
				  		
						<th>
							<input class="form-control" type="text" ng-model="buscaCoordenadoria" placeholder="Solicitante">
						</th>
						
						<th>						
						<div ng-controller="setorController as setorCtrl" ng-init="setorCtrl.lista()" >
								<select class="form-control" ng-model="buscaCoordenadoria" 
								ng-options="setores.nome group by setores.tipoSetor.mnemonico for setores in setorCtrl.listaSetor" 
								  style=" width: 100%;" required >
									<option value="">Setor</option>
								</select>
							</div>								
						</th>
						
						<th>
							<div  ng-init="chamadoCtr.status()" >
								<select class="form-control" ng-model="buscaCoordenadoria" 
								ng-options="status for status in chamadoCtr.listaStatus" 
								  style=" width: 100%;" required >
									<option value="">Status</option>
								</select>
							</div>	
						</th>
						
						<th>Data de abertura</th>
							
						<th>Horário</th>					
						<th>Opções</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" chamado in chamadoCtr.listaChamadoTiUsuario | filter : buscaCoordenadoria | orderBy : '-id' ">
					<tr>
						<td>{{ chamado.titulo }}</td>
						<td>{{ chamado.usuarioSolicitante.nome }}</td>
						<td>{{ chamado.setor.nome }}</td>	
						<td>{{ chamado.status }}</td>							
						<td>{{ chamado.dataAbertura | date : 'dd/MM/yyyy'}}</td>
						<td>{{ chamado.dataAbertura | date : 'HH:mm:ss' }}</td>										
						<td><a href="#/chamado/informatica/atendimento/{{chamado.id}}"><i class="glyphicon glyphicon-search"></i></a> 
						
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
</div>

