<meta charset="UTF-8">
<br>
<br>

<!-- <div ng-if="!role_cadastrar_ponto" ng-include="'views/erros/permissao.html'"></div> -->
<div ng-controller="pontoController as pontoCtrl">


	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Editar Ponto/Espelho </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
			<form role="form-vertical" name="formPonto" ng-submit="pontoCtrl.salva()" >
												
				<br>		
						<div class="row">
						<div class="col-sm-6">
							<input class="form-control" placeholder="Descricao"  ng-model="pontoCtrl.ponto.descricao" id="descricao" name="descricao" type="text" required>
							
						</div>
																	
					</div>
						<br>
						<br>
					<br>
						
					<div class="row">
						<div class="col-sm-6">
							<input class="form-control" placeholder="Numero"  ng-model="pontoCtrl.ponto.numero" id="numero" name="numero" type="text" required>
						</div>
					</div>
					
					<br>
				
					
					<div class="row">
					<div class="col-sm-6" ng-controller="setorController as setorCtrl" ng-init="setorCtrl.lista()" >
						<select class="form-control select2" ng-model="pontoCtrl.ponto.setor" 
							ng-options="setor.nome for setor in setorCtrl.listaSetor" 
							
							  style=" width: 100%;" required >
								<option ng-value="pontoCtrl.ponto.setor" value="">{{pontoCtrl.ponto.setor.nome}}</option>
							</select>
						</div>		
							</div>												
					<br>
					<div class="row ">
							<input type="submit" id="submit" value="Salvar"	class="btn btn-lg btn-primary btn-block btn-signin">
					</div>
						</div>
									
				</form>
			</div>
	</div>
	<div class="tablecontainer"></div>
</div>
</div>