 <meta charset="UTF-8">
		<div class="table-responsive">
		<input class="form-control" type="text" ng-model="buscarSetor" placeholder="Pesquisar...">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Descricao</th>
						<th>Numero</th>
						<th>Setor</th>						
						<th>Switch</th>
						<th>Porta</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" ponto in pontoCtrl.pontos | filter : buscarSetor ">
					<tr>
						<td>{{ ponto.descricao }}</td>
						<td>{{ ponto.numero }}</td>
						<td>{{ ponto.setor.nome}}</td>
						<td>{{ ponto.switchs.nome}}</td>
						<td>{{ ponto.portaSwitch.numero}}</td>
						<td><a ui-sref="ponto.editar({idPonto : ponto.id})"><i class="glyphicon glyphicon-edit"></i></a> 	
						<td><a ng-click="pontoCtrl.limparPortas(ponto)"><i class="fa fa-object-ungroup"></i></a>									 
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	