<meta charset="UTF-8">

			<div class="container col-sm-12 ">
				<form role="form-vertical" name="form" ng-submit="ctrl.submit()">
									
					<div class="row">
												
						<div class="col-sm-6" >
							<input class="form-control" placeholder="Nome" ng-model="ctrl.modulo.nome" id="idNome" name="nome" type="text" required>						
						</div>
					
						<div class="col-sm-6" >
							<div class="col-sm-6">
							<select class="form-control select2" ng-model="ctrl.modulo.sistema" id="secretariaId"
							ng-options="sistema.nome for sistema in ctrl.sistemas"  >
								<option value=""></option>
							</select>
						</div></div>
					</div>					
					<br>
					
					
				<div class="row ">
					<div class="col-sm-4"></div>
					<div class="col-sm-4">
							<input type="submit" id="submit" value="Salvar"	class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
					</div>
					

				</form>
			</div>
