<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"
	ng-controller="chamadoManutencaoController as chamadoCtr">

	<div class="box box-primary" ng-init="chamadoCtr.listaSuporte()">
	
		<div class="box-header">
			<span class="lead">Lista de Chamados Manutenção</span>
		</div>
		<div class="panel-body">
		<input class="form-control" type="text" ng-model="buscaCoordenadoria" placeholder="Buscar">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Titulo</th>
						<th>Solicitante</th>
						<th>Setor</th>
						<th>Status</th>
						<th>Data de abertura</th>	
						<th>Horário</th>					
						<th>Opções</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" chamado in chamadoCtr.listaChamadoManutencaoSuporte | filter : buscaCoordenadoria ">
					<tr>
						<td>{{ chamado.titulo }}</td>
						<td>{{ chamado.usuarioSolicitante.nome }}</td>
						<td>{{ chamado.setor.nome }}</td>	
						<td>{{ chamado.status }}</td>	
						<td>{{ chamado.dataAbertura.dayOfMonth }}/{{ chamado.dataAbertura.monthValue }}/{{ chamado.dataAbertura.year }}</td>
						<td>{{ chamado.dataAbertura.hour }} : {{ chamado.dataAbertura.minute }} : {{ chamado.dataAbertura.second }}</td>										
						<td><a href="#/chamado/manutencao/suporte/atendimento/{{chamado.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
</div>

