<meta charset="UTF-8">
<br>
<br>
<div ng-controller="telefoneController as telefoneCtr" >

	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Cadastrar Telefone </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" ng-submit="telefoneCtr.salva()" >
					<div class="row">
						<div class="col-sm-6">
							<input class="form-control" ng-model="telefoneCtr.listaTelefone.descricao" placeholder="Descrição" id="descricao" type="text" required>
						</div>
						<div class="col-sm-6">
							<input class="form-control" ng-model="telefoneCtr.listaTelefone.telefone" placeholder="telefone" ui-br-phone-number id="telefone" type="text" required>
						</div>
					</div>
					<br>
					<div class="row">	
					<div ng-controller="setorController as setorCtrl">			
						<div class="col-sm-6"   ng-init="setorCtrl.lista()" >
							<select class="form-control select2" ng-model="telefoneCtr.listaTelefone.setor" 
							ng-options="setor.nome for setor in setorCtrl.listaSetor" 
							  style=" width: 100%;" required >
								<option value="">---Selecione Setor---</option>
							</select>
						</div>				
					</div>							
					</div>	
					<br>
							
					<div class="row ">
					
							<input type="submit" id="submit" value="Salvar" ng-disabled="!telefoneCtr.listaTelefone.setor  || !telefoneCtr.listaTelefone.telefone"
								class="btn btn-lg btn-primary btn-block btn-signin">
						
					</div>
				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
