<meta charset="UTF-8">
<br>
<br>
<div 	ng-controller="telefoneController as telefoneCtr">

	<div class="box box-primary" ng-init="telefoneCtr.lista()">
	
		<div class="box-header">
			<span class="lead">Lista de Telefones</span>
		</div>
		<div class="panel-body table-responsive">
		<input class="form-control" type="text" ng-model="buscaSetor" placeholder="Buscar">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>descricao</th>
						<th>telefone</th>
						<th>Setor</th>
						<th>Unidade</th>
						<th ng-if="role_cadastrar_telefone">Opções</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" telefone in telefoneCtr.listaTelefone | filter : buscaSetor ">
					<tr>
						<td>{{ telefone.descricao }}</td>
						<td>{{ telefone.telefone }}</td>
						<td>{{ telefone.setor.nome}}</td>
						<td>{{ telefone.unidade.dadosUnidade.mnemonico}}</td>
						<td ng-if="role_cadastrar_telefone"><a href="#/unidade/telefone/editar/{{telefone.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
</div>

