<meta charset="UTF-8">    
        <div permission="['CHAMADO_USUARIO' ,'CHAMADO_INFORMATICA_TECNICO', 'ADMIN']" class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>Chamado</h3>
              <p>Tecnologia da Infromação</p>
            </div>
            <div class="icon">
              <i class="fa fa-hourglass-start "></i>
            </div>
            <a permission="['CHAMADO_USUARIO', 'CHAMADO_INFORMATICA_TECNICO' , 'ADMIN']"  ui-sref="chamadoTi.listar" class="small-box-footer">
              Consultas<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>        
        <div permission="['EQUIPAMENTO','IP', 'TIPO_IP', 'PONTO','SWITCH' , 'ADMIN']" class="col-lg-3 ">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>IP</h3>

              <p>Controle de Ip</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-globe"></i>
            </div>
            <a ui-sref="informatica.controleIp" class="small-box-footer">
              Menu <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>