 <meta charset="UTF-8">
<br>
<br>
<div 	ng-controller="tipoIpController as tipoIpCtr">

	<div class="box box-primary" ng-init="tipoIpCtr.lista()">
	
		<div class="box-header">
			<span class="lead">Lista de Ip</span>
		</div>
		<div class="panel-body table-responsive">
		<input class="form-control" type="text" ng-model="busca" placeholder="Buscar">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Decrição</th>
						<th>editar</th>
						
					</tr>
				</thead>
				<tbody
					 ng-repeat=" tipoIp in tipoIpCtr.listaTipoIp | filter : busca "> 
					<tr>
						<td>{{ tipoIp.descricao }}</td>
						<td ><a href="#/controleIp/ip/tipo/editar/{{tipoIp.id}}"><i class="glyphicon glyphicon-pencil" ></i></a> 
				</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
</div>
